{% extends "theme/root.html" %}
{% load humanize %}
{% load static %}

{% block head_script %}
<link href="https://cdn.jsdelivr.net/gh/akottr/dragtable@master/dragtable.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css">
    <!-- <link href="/static/theme/assets/vendor/datatables/datatables.min.css" rel="stylesheet"> -->
    <link href="{% static 'css/tablelist.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="container-fluid mt-1">

  <div class="row">

    <div class="collapse show float-end" id="collapseFilter">

    <form class="row row-cols-lg-auto g-3 align-items-center form-control-sm" action="{% url 'sap_opex_items' %}" method="post">{% csrf_token %}
      

      <!-- <div class="col-3">    
        <label for="year">Year: </label>
        <input id="year" type="text" name="name_field" value="{% now 'Y' %}" class="form-control">
      </div> -->

      {% for filterItem in filterItems %}
      <div class="col-auto">
        <label for='sel_{{ filterItem.qId }}'>{{ filterItem.text }}</label>        
          <select class="form-control form-select"  id='sel_{{ filterItem.qId }}' >
              <!-- onchange="updateData()" -->
              <!-- <option value=''>ALL</option> -->
              {% for pItem in filterItem.items %}<option value={{ pItem.id }}>{{ pItem.name }}</option>
              {% endfor %}
          </select>

      </div>
      {% endfor %}

 
      <div class="col-auto">
        <label for="cc">Cost Center: </label>
          <select id="cc" name="Cost Center" class="form-control">
            <option value="" selected>None</option>
          {% for k, v in cclist %}
            <option value="{{ k }}">{{ v }}</option>
          {% endfor %}  
          </select>
      </div>

      <button onclick="updateData()" class="btn btn-primary" type="submit">Submit</button>
      <!-- <input type="submit" value="OK"> -->

    </form> 
    
    </div>  
  </div>

<div class="row">

  <div id="toolbar" >
      <h5>Order Actuals</h5>
  </div>

{% if items %}

      <table data-toggle="table" data-pagination="true" data-page-size="25" data-page-list="[10, 25, 50, 100, all]"
      data-search="true" data-filter-control="true" data-show-search-clear-button="false" data-show-refresh="false"
      data-toolbar="#toolbar" data-show-toggle="true" data-show-columns="true"
      data-show-export="true"
      id="table" class="col table table-striped table-bordered table-sm small">
      <thead class="table-primary">
      <tr>
        <th data-sortable="true" scope="col">CC</th>
        <th data-sortable="true" scope="col">CC-Name</th>
        <th data-sortable="true" scope="col">Responsible</th>
        <th data-sortable="true" scope="col">ORDER</th>
          <th data-sortable="true" scope="col">Description</th>
          <th data-sortable="true" scope="col">Lineitem text</th>
          {% for i in months %}
            <th data-sortable="true" scope="col" class="text-end">{{ forloop.counter }}</th>
          {% endfor %}
          <th data-sortable="true" scope="col">Total</th>
          <th data-sortable="true" scope="col">Progress</th>
          <th data-sortable="true" scope="col">Budget</th>

      </tr>
      </thead>
      <tbody>
        {% for i in items %}
          <tr>        
            <td>{{ i.KOSTV }}</td> 
            <td>{{ i.CCTEXT }}</td> 
            <td>{{ i.VERAK }}</td> 
            <td>{{ i.AUFNR }}</td> 
            <td>{{ i.KTEXT }}</td> 
            <td>{{ i.SGTXT }}</td> 
            <td class="text-end">{{ i.WTG001 | floatformat:"0" | intcomma }}</td> 
            <td class="text-end">{{ i.WTG002 | floatformat:"0" | intcomma }}</td> 
            <td class="text-end">{{ i.WTG003 | floatformat:"0" | intcomma }}</td> 
            <td class="text-end">{{ i.WTG004 | floatformat:"0" | intcomma }}</td> 
            <td class="text-end">{{ i.WTG005 | floatformat:"0" | intcomma }}</td> 
            <td class="text-end">{{ i.WTG006 | floatformat:"0" | intcomma }}</td> 
            <td class="text-end">{{ i.WTG007 | floatformat:"0" | intcomma }}</td> 
            <td class="text-end">{{ i.WTG008 | floatformat:"0" | intcomma }}</td> 
            <td class="text-end">{{ i.WTG009 | floatformat:"0" | intcomma }}</td> 
            <td class="text-end">{{ i.WTG010 | floatformat:"0" | intcomma }}</td> 
            <td class="text-end">{{ i.WTG011 | floatformat:"0" | intcomma }}</td> 
            <td class="text-end">{{ i.WTG012 | floatformat:"0" | intcomma }}</td> 

            <td class="text-end">{{ i.wtgsum | floatformat:"0" | intcomma }}</td> 
            <td>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{ item.progress }%</div>
              </div>
            </td>
            <td class="text-end"> {{ i.tslsum | floatformat:"0" | intcomma }}</td>
          </tr>
        {% endfor %}
        </tbody></table>
    <!-- </div> -->

    {% include "includes/pagination.html" %}



{% else %}
  <p>No data found!!! :(</p>
{% endif %}

</div>
{% endblock content %}



{% block script_body %}
<!-- <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>     -->
<script src="https://cdn.jsdelivr.net/npm/jqueryui@1.11.1/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/akottr/dragtable@master/jquery.dragtable.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/reorder-columns/bootstrap-table-reorder-columns.min.js"></script>

<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/export/bootstrap-table-export.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/tableExport.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF/jspdf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
{% endblock %}
