.stack_labels label {

    float:initial;

}

.related-widget-wrapper-link {
    display: none;
}

.inline-group .tabular tr.has_original td {
    padding-top: 8px; 
}

.original {
    display: none;
}

.column-stage {
    width: 20px;
}

.column-description {
    width: 30px;
}

.aligned label + p, .aligned label + div.help, .aligned label + div.readonly  {
    float: left;
    margin-left:0;
}

.dynamic-milestone_set {
    padding: 1px;
}

/*
.datetimeshortcuts {
    display: none
}
*/

td {
    padding: 1px;
}