{% extends "admin/change_list.html" %}
{% block extrastyle %}
    {{ block.super }}

<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

<script type="text/javascript">
    function toggle_filter() {
        $("#changelist-filter").toggle("slow");
    };

    // close them by default
    // $(document).ready(function(){
    //     $("#changelist-filter").toggle("fast");
    // });
</script>
{% endblock %}