.stack_labels label {
/*
    float:initial;
*/
}

.related-widget-wrapper-link {
    display: none;
}

.aligned label + p, .aligned label + div.help, .aligned label + div.readonly  {
    float: left;
    margin-left:0;
}

/* hide in tabluar inline */
.original {
    display: none;
}
.inline-group .tabular tr.has_original td {
    padding-top: 0.5em;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    display: none
}

/* textarea size */
.vLargeTextField {
    width: 300px;
}

textarea {
  }