
        <!--left links-->
        <ul class="nav navbar-nav me-auto ">

            <li class="nav-item"><a class="nav-item nav-link"  href="{% url 'home' %}">{% if my_sub_project %}<span class="text-warning bg-dark">{{ my_sub_project }}</span>{% else %}Home{% endif %}</a></li>

            <li class="nav-item dropdown">
              <!-- <div class="nav-dropdown"> -->
                  <a href="#" id="nav1" class="nav-item nav-link dropdown-toggle  text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-window-plus"></i><span class="ms-1"> Project Demand</span>
                  </a>
                  <!-- dropdown with ul dropdown-menu <div class="dropdown-menu dropdown-menu-end nav-link-menu" aria-labelledby="nav1"> -->
                          <ul class="dropdown-menu nav-list" aria-labelledby="nav1">
                          <li><a class="dropdown-item" href="{% url 'admin:psm_projectrequest_add' %}"><i class="pe-2 bi bi-window-plus"></i> Create Project Request </a></li>
                          <li><a class="dropdown-item" href="{% url 'admin:psm_projectrequest_changelist' %}"><i class="pe-2 bi bi-collection"></i> Manage Project Requests </a></li>
                          <div class="dropdown-divider"></div>
                          <li><a class="dropdown-item" href="{% url 'project_plan_index' %}"><i class="pe-2 bi bi-card-checklist"></i> Project Request List</a></li>
                      </ul>
                  <!-- </div> -->
              <!-- </div> -->
            </li>

            {% if user.is_superuser %}
            <li class="nav-item dropdown">
            <!-- <div class="nav-dropdown"> -->
                <a href="#" id="nav2" class="nav-link dropdown-toggle text-primary"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-lines-fill"></i><span class="ms-1"> Resource Plan(Pilot)</span>
                </a>
                <!-- <div class="dropdown-menu dropdown-menu-end nav-link-menu"> -->
                    <ul class="dropdown-menu nav-list" aria-labelledby="nav2">
                        <li><a class="dropdown-item" href="{% url 'admin:resources_skill_changelist' %}"><i class="pe-2 bi bi-file-earmark-plus"></i> Manage Skills</a></li>
                        <li><a class="dropdown-item" href="{% url 'admin:resources_resource_changelist' %}"><i class="pe-2 bi bi-file-earmark-plus"></i> Manage Resource</a></li>
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="{% url 'admin:resources_resourceplan_changelist' %}"><i class="pe-2 bi bi-file-earmark-plus"></i> Manage Resource Plan</a></li>
                        <li><a class="dropdown-item" href="{% url 'admin:resources_rpplanitem_changelist' %}"><i class="pe-2 bi bi-file-earmark-plus"></i> Resource Allocation Details</a></li>
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="{% url 'admin:resources_projectplan_changelist' %}"><i class="pe-2 bi bi-file-earmark-plus"></i> Manage Project Plan</a></li>
                        <li><a class="dropdown-item" href="{% url 'admin:resources_ppplanitem_changelist' %}"><i class="pe-2 bi bi-file-earmark-plus"></i> Project Allocation Details</a></li>
                        <li><a class="dropdown-item" href="{% url 'admin:resources_actualitem_changelist' %}"><i class="pe-2 bi bi-file-earmark-plus"></i> Project Allocation Details</a></li>
                    </ul>
                <!-- </div> -->
            <!-- </div> -->
            </li>
            {% endif %}
            
            <li class="nav-item dropdown">
              <!-- <div class="nav-dropdown"> -->
                  <a href="#" id="nav3" class="nav-link dropdown-toggle text-primary"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-pencil-square"></i><span class="ms-1">  Project Administration</span>
                  </a>
                  <!-- <div class="dropdown-menu dropdown-menu-end nav-link-menu"> -->
                      <ul class="dropdown-menu nav-list" aria-labelledby="nav3">
                          <li><a class="dropdown-item" href="{% url 'admin:psm_project_add' %}"><i class="pe-2 bi bi-file-earmark-plus"></i> +New Project</a></li>
                          <li><a class="dropdown-item" href="{% url 'admin:psm_project_changelist' %}?year={% now 'Y' %}"><i class="pe-2 bi bi-file-ruled"></i>Manage Project </a></li>
                          <!-- <li><a class="dropdown-item" href="{% url 'project_list1' %}"><i class="pe-2 bi bi-list-task"></i>Project list</a> </li> -->
                          <div class="dropdown-divider"></div>
                          <li><a class="dropdown-item" href="{% url 'admin:reports_report_add' %}"><i class="pe-2 bi bi-chat-left-quote-fill"></i> +New Status Report</a></li>
                          <li><a class="dropdown-item" href="{% url 'admin:reports_report_changelist' %}"><i class="pe-2  bi-journal-check"></i> Status Reports</a></li>
                          <div class="dropdown-divider"></div>
                          <li><a class="dropdown-item" href="{% url 'admin:reports_reportrisk_changelist' %}"><i class="pe-2 bi bi-megaphone-fill"></i>  Project Risk Reports</a></li>
                          <li><a class="dropdown-item" href="{% url 'admin:reviews_review_changelist' %}"><i class="pe-2 bi bi-cart-plus"></i> ITPC</a></li>
                          <div class="dropdown-divider"></div>
                          <li><a class="dropdown-item" href="{% url 'admin:psm_program_changelist' %}"><i class="pe-2 bi bi-columns"></i>Program</a></li>
                          <li><a class="dropdown-item" href="{% url 'admin:psm_strategy_changelist' %}"><i class="pe-2 bi bi-gem"></i>Strategy</a></li>
                          <div class="dropdown-divider"></div>
                          <li><a class="dropdown-item" href="{% url 'admin:common_gmdm_changelist' %}"><i class="pe-2 bi bi-pc-display"></i> GMDM</a></li>
                          <li><a class="dropdown-item" href="{% url 'admin:common_wbs_changelist' %}"><i class="pe-2 bi bi-currency-dollar"></i> WBS(SAP)</a></li>
                          <li><a class="dropdown-item" href="{% url 'admin:users_profilecbu_changelist' %}"><i class="pe-2 bi bi-person"></i> CBU contacts</a></li>
                      </ul>
                  <!-- </div> -->
              <!-- </div> -->
            </li>
            <!-- <li class="nav-item"><a class="nav-item nav-link"  href="_project' %}">Reports</a></li> -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle  text-primary" href="#" id="nav4" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-bar-chart-line"></i><span class="ms-1">  Reports</span>
              </a>
              <ul class="dropdown-menu nav-list" aria-labelledby="nav4">
    
                <li><a class="dropdown-item" href="{% url 'project_index' %}"><i class="pe-2 bi bi-layout-wtf"></i> Project Portfolio Quickview</a></li>
                <li><a class="dropdown-item" href="{% url 'program_index' %}"><i class="pe-2 bi bi-columns"></i> Program Quickview</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" href="{% url 'project_dashboard' %}"><i class="pe-2 bi bi-speedometer"></i> Project Portfolio Dashboard </a></li>
                {% if user.profile.is_psmadm or user.is_superuser %}
                    <li><a class="dropdown-item" href="_data"><i class="pe-2 bi bi-speedometer"></i> Dashboard - pilot 1 </a></li>
                {% endif %}
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" href="{% url 'project_chart_1' %}"><i class="pe-2 bi bi-bar-chart-steps"></i>Gantt chart (type1)</a></li>
                <li><a class="dropdown-item" href="{% url 'project_chart_2' %}"><i class="pe-2 bi bi-bar-chart-steps"></i>Gantt chart (type2)</a></li>
            {% if user.is_superuser %}            
                    <li><a class="dropdown-item" href="{% url 'project_chart_3' %}"><i class="pe-2 bi bi-clipboard-data"></i>Chart (pilot)</a></li>
            {% endif %}
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" href="{% url 'project_list1' %}"><i class="pe-2 bi bi-signpost"></i> Project List</a></li>
                <li><a class="dropdown-item" href="{% url 'report_list' %}"><i class="pe-2 bi bi-journal-check"></i> Status Report List</a></li>
                <li><a class="dropdown-item" href="{% url 'report_risks' %}"><i class="pe-2 bi bi-flag"></i> Risk Report List</a></li>
              </ul>
            </li>
  
        </ul> <!-- left menus -->
