{% load static %}
<!-- includes/nav.html -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-my-color fixed-top bd-navbar-nav">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <!-- collapsible wrapper -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <a class="navbar-brand" href="{% url 'home' %}"  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
        <img src="{% static 'img/PSM-logos_white_resized.png' %}" alt="PSM" height="32" loading="lazy">
      </a>

      <!--left links-->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-item nav-link" href="{% url 'home' %}">Home</a></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Project Demand
          </a>
          <ul class="dropdown-menu my-menu-1" aria-labelledby="navbarDropdownMenuLink3">
            <li><a class="dropdown-item" href="/admin/psm/projectplan/add/">Create Project Request / BAP</a></li>
            <li><a class="dropdown-item" href="/admin/psm/projectplan">Manage Project Request / BAP</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="{% url 'project_plan_index' %}">Project Demand List</a></li>
          </ul>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Project Administration
          </a>
          <ul class="dropdown-menu my-menu-2" aria-labelledby="navbarDropdownMenuLink1">
            <li><a class="dropdown-item" href="/admin/psm/project/add/">Register Project</a></li>
            <li><a class="dropdown-item" href="/admin/psm/project/?year={% now 'Y' %}">Manage Project - FY{% now 'Y' %}</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="/admin/reports/report/add/">Create Project Status Report</a></li>
            <li><a class="dropdown-item" href="/admin/reports/report">Manage Status Report</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="/admin/reports/reportrisk">Manage Project Risk Report</a></li>
            <li><a class="dropdown-item" href="/admin/reviews/review">Manage ITPC</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="/admin/psm/program">Register Program</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="/admin">Admin - Home</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Reports
          </a>
          <ul class="dropdown-menu my-menu-1" aria-labelledby="navbarDropdownMenuLink2">
            <!-- <li><a class="nav-item nav-link text-capitalize" href="{% url 'project_list1' %}">Project Dashboard</a></li>
            <li><a class="nav-item nav-link text-capitalize" href="/reports">Status Report</a></li>
            <li><a class="nav-item nav-link text-capitalize" href="/report-risks">Risk Report</a></li> -->
            
            <li><a class="dropdown-item" href="{% url 'project_list1' %}">Project Dashboard</a></li>
            <li><a class="dropdown-item" href="/reports">Status Report List</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="/report-risks">Risk Report List</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="{% url 'project_chart_1' %}">Gantt chart</a></li>
            <li><a class="dropdown-item" href="{% url 'project_chart_2' %}">Gantt chart (pilot)</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="{% url 'project_list2' %}">Key project summary</a></li>
          </ul>
        </li>
                
      </ul>
      <!-- Navbar Right Side -->
      <ul class="navbar-nav">

        {% if user.is_superuser %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink9" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            System Admin
          </a>
          <ul class="dropdown-menu my-menu-2" aria-labelledby="navbarDropdownMenuLink9">
            <li><a class="dropdown-item" href="/admin/users/profilecbu/">Manage Profile CBU</a></li>
            <li><a class="dropdown-item" href="/admin/users/profile/">Manage Profile</a></li>
            <li><a class="dropdown-item" href="/admin/auth/user/">Manage User</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="/admin/blog/post/">Manage Post</a></li>
            <li><a class="dropdown-item" href="/admin/blog/ticket/">Manage Tickets</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="/admin">Admin - Home</a></li>
          </ul>
        </li>
        {% endif %}


        {% if user.profile.is_psmadm or user.is_superuser %}
        <li class="nav-item"><a class="nav-item nav-link"  href="/post/new/">New Post</a></li>
        {% endif %}

        <li class="nav-item">
        <!-- <div class=""> -->
          <form class="form-inline ">
            <div class="form-group p-1 m-0 d-flex flex-column justify-content-end">
                <input class="form-control form-control-sm" name="q" type="search" placeholder="Search Posts">
            </div>
            <!-- <div class="col-auto">
                <button type="submit" class="btn btn-outline-warning mb-3" value="Search">Search</button>
            </div> -->
          </form>
        <!-- </div> -->


        {% if not user.is_authenticated %}
          <li class="nav-item"><a class="nav-item nav-link" href="{% url 'login' %}">Login</a></li>
          <li class="nav-item"><a class="nav-item nav-link" href="{% url 'register' %}">Register</a></li>
          {% endif %}
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink9" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Help
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink9">
            {% if user.is_authenticated %}
              <a class="dropdown-item" href="{% url 'about' %}">About</a>
              <a class="dropdown-item" href="/admin/blog/ticket">Bug tracker</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            {% else %}
              <a class="dropdown-item" href="{% url 'login' %}">Login</a>
              <a class="dropdown-item" href="{% url 'register' %}">Register</a>
            {% endif %}
          </div>
        </li>

      </ul> <!--right side-->

    </div>
  </div>
  </nav>    
