{% load static %}
<!-- includes/nav.html -->
<nav class="navbar navbar-expand-lg navbar-white bg-white fixed-top bd-navbar-nav" >
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>


  <!-- collapsible wrapper -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <a class="navbar-brand" href="{% url 'home' %}"  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
        <img src="{% static 'img/PSM-logos_white_resized.png' %}" alt="PSM" height="32" loading="lazy">
      </a>

  
      {% include "includes/nav-left.html" %}

      <ul class="nav navbar-nav ms-auto ">

          <li class="nav-item " style="vertical-align: middle;">
            <form class="form-inline" style="vertical-align: middle;">{% csrf_token %}
              <div class=" d-flex align-items-center justify-content-center">
                  <input class="form-control form-control-sm  mt-1" name="q" type="search" placeholder="Search Posts">
              </div>
              <!-- <div class="col-auto">
                  <button type="submit" class="btn btn-outline-warning mb-3" value="Search">Search</button>
              </div> -->
            </form>
          </li>

      {% include "includes/nav-right.html" %}

      </ul> <!--right side-->

    </div>
  </div>
  </nav>    
