{% load static %}
<!-- includes/nav.html -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-my-color fixed-top bd-navbar-nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'img/PSM-logos_white_resized.png' %}" alt="PSM" height="32">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
      aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarToggle">
      <div class="navbar-nav me-auto">
        <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Project Administration
          </a>
          <ul class="dropdown-menu my-menu-2" aria-labelledby="navbarDropdownMenuLink2">
            <li><a class="dropdown-item" href="/admin/psm/project">Admin - Project</a></li>
            <li><a class="dropdown-item" href="/admin/reports/report">Admin - Report</a></li>
            <li><a class="dropdown-item" href="/admin/reports/reportrisk">Admin - Risk</a></li>
            <li><a class="dropdown-item" href="/admin/psm/program">Admin - Program</a></li>
            <li><hr></li>
            <li><a class="dropdown-item" href="/admin">Admin - Home</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Reports
          </a>
          <ul class="dropdown-menu my-menu-1" aria-labelledby="navbarDropdownMenuLink1">
            <!-- <li><a class="nav-item nav-link text-capitalize" href="{% url 'project_list1' %}">Project Dashboard</a></li>
            <li><a class="nav-item nav-link text-capitalize" href="/reports">Status Report</a></li>
            <li><a class="nav-item nav-link text-capitalize" href="/report-risks">Risk Report</a></li> -->

            <li><a class="dropdown-item" href="{% url 'project_list1' %}">Project Dashboard</a></li>
            <li><a class="dropdown-item" href="/reports">Status Report</a></li>
            <li><a class="dropdown-item" href="/report-risks">Risk Report</a></li>
            <li><hr></li>
            <li><a class="dropdown-item" href="/projectchart">Gantt chart demo1</a></li>
            <li><a class="dropdown-item" href="/projectchart2">Gantt chart demo2</a></li>
            <li><a class="dropdown-item" href="{% url 'project_list2' %}">Key project summary</a></li>
          </ul>
        </li>
                
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Project Demand
          </a>
          <ul class="dropdown-menu my-menu-1" aria-labelledby="navbarDropdownMenuLink1">
            <li><a class="dropdown-item" href="/admin/psm/projectplan">Project Demand Admin</a></li>
            <li><hr></li>
            <li><a class="dropdown-item" href="{% url 'project_plan' %}">Project Demand List</a></li>
          </ul>
        </li>

      </div>
      <!-- Navbar Right Side -->
      <div class="navbar-nav">
        <!-- <div class=""> -->
          <form class="form-inline ">
            <div class="form-group p-1 m-0 d-flex flex-column justify-content-end">
                <input class="form-control form-control-sm" name="q" type="search" placeholder="Search Posts">
            </div>
            <!-- <div class="col-auto">
                <button type="submit" class="btn btn-outline-warning mb-3" value="Search">Search</button>
            </div> -->
          </form>
        <!-- </div> -->

        {% if user.is_authenticated %}
          {% if user.profile.is_psmadm %}
            <a class="nav-item nav-link" href="{% url 'post_create' %}">New Post</a>
          {% endif %}
     
          <a class="nav-item nav-link" href="{% url 'about' %}">About</a>
          <a class="nav-item nav-link" href="/admin/blog/ticket">Bug tracker</a>
          <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
          <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
        {% else %}
          <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
          <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
        {% endif %}
      </div>
    </div>
  </div>
  </nav>    
