{% extends "base.html" %}
{% load static %}

{% block child_css %}
{% endblock %}

{% block content %}

<div id="content-markdown" style="display:none">
## About Project System
---

#### Features

+ Support Markdown tag
+ Project Registration
+ Project Dashboard 
+ Project Weekly Status Report
+ Project Risk Report
+ Gantt chart with filters 

#### Incomplete
+ Import WBS data from SAP system
+ Review request from project master (incomplete)
    + Procurement review
    + Security review
    + Infrastructure review
    + ...
+ Reviewer to provide update (accept/reject)
+ ...

#### Future roadmap
+ Project request/review/acceptance 
+ Improve Gantt chart formatting
+ Support BAP 
    + schedule adjust from gantt chart
    + ideation
    + entry in table format
+ Link with SSG
+ Enhance authorization  
+ Markdown editing and enhance display
+ ...

`
This page is formatted with markdown
`

</div>
<div id="content-markdown-result"></div>
{% endblock content %}


{% block child_js_above_files %} 
<!-- https://embed.plnkr.co/atyuBnVNktl8YSfdfPJT/preview -->
<!-- https://github.com/markedjs/marked -->
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>
        document.getElementById('content-markdown-result').innerHTML = 
            marked.parse(document.getElementById('content-markdown').innerHTML);
    </script>
{% endblock %}
