{% extends "base.html" %}
{% load static %}

{% block child_css %}
    <link href="{% static 'css/markdown2.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
<div id="content-markdown" style="display:none">
## About Project System
---

#### Features

+ Support Markdown tag
+ Project Registration
+ Project Dashboard 
+ Project Weekly Status Report
+ Project Risk Report
+ Gantt chart with filters 

#### Incomplete
+ Import WBS data from SAP system
+ Review request from project master (incomplete)
    + Procurement review
    + Security review
    + Infrastructure review
    + ...
+ Reviewer to provide update (accept/reject)
+ ...

#### Future roadmap
+ Project request/review/acceptance 
+ Improve Gantt chart formatting
+ Support BAP 
    + schedule adjust from gantt chart
    + ideation
    + entry in table format
+ Link with SSG
+ Enhance authorization  
+ Markdown editing and enhance display
+ ...

`
#### Markdown tip

</div>
<div id="content-markdown-result"></div>
</div>

<div class="table-responsive-sm">
<table id="markdown-reference" class="table">

<thead>
    <tr>
    <th scope="col"> </th>
    <th scope="col">Markdown</th>
    <th scope="col">Processed</th>
    </tr>
</thead>
<tbody>
<tr>
<th>Emphasis</th>
<td>
<pre>*Emphasize* _emphasize_
**Strong** __Strong__</pre>
</td>
<td><em>Emphasize</em><br /><strong>Strong</strong>
<p> </p>
<p class="markdown-comment">Some WordPress.com themes may have different formatting for these styles</p>
</td>
</tr>
<tr>
<th><a id="foot" name="foot"></a>Footnotes</th>
<td>
<pre>I have more [^1] to say up here.

[^1]: To say down here.</pre>
<p class="markdown-comment">Footnotes will be added to the bottom of the document, with a link back to the original reference<a href="/#notes">*</a>.</p>
</td>
<td>I have more <sup id="#"><a href="#" rel="footnote">1</a></sup> to say up here.
<p> </p>
<div class="footnotes"><hr />
<ol>
<li id="#">To say down here. <a href="#" rev="footnote">↩</a></li>
</ol>
</div>
</td>
</tr> 
<tr>
<th>Line breaks</th>
<td><em>We do not support Markdown&#8217;s typical double-space to generate a line break due to our built-in auto-linebreaking function. A regular line break will generate a line break on output.</em></td>
<td> </td>
</tr>
<tr>
<th>Bullet Lists</th>
<td>
<pre>* Item
* Item
- Item
- Item</pre>
</td>
<td>
<ul>
<li>Item</li>
<li>Item</li>
<li>Item</li>
<li>Item</li>
</ul>
</td>
</tr>
<tr>
<th>Numbered Lists</th>
<td>
<pre>1. Item
2. Item</pre>
</td>
<td>
<ol>
<li>Item</li>
<li>Item</li>
</ol>
</td>
</tr>
<tr>
<th>Mixed Lists</th>
<td>
<pre>1. Item
2. Item
    * Mixed
    * Mixed  
3. Item</pre>
</td>
<td>
<ol>
<li>Item</li>
<li>Item
<ul>
<li>Mixed</li>
<li>Mixed</li>
</ul>
</li>
<li>Item</li>
</ol>
</td>
</tr>
<tr>
<th>Blockquotes</th>
<td>
<pre>&gt; Quoted text.
&gt; &gt; Quoted quote.

&gt; * Quoted 
&gt; * List</pre>
</td>
<td>
<blockquote style="background-color: #f3f6f8">
<p>Quoted text.</p>
<blockquote>
<p>Quoted quote.</p>
</blockquote>
</blockquote>
<blockquote  style="background-color: #f3f6f8">
<ul>
<li>Quoted</li>
<li>List</li>
</ul>
</blockquote>
</td>
</tr>
<tr>
<th>Preformatted</th>
<td>
<pre>  Begin each line with 
    two spaces or more to 
    make text look
    e x a c t l y 
    like  you  type i
    t.</pre>
</td>
<td>
<pre>Begin each line with 
two spaces or more to 
make text look
e x a c t l y 
like  you  type i
t.</pre>
</td>
</tr>
<tr>
<th>Headers</th>
<td>
<pre># Header 1
## Header 2
### Header 3 
#### Header 4 ####
##### Header 5 #####
###### Header 6 ######</pre>
<p class="markdown-comment">Closing hash marks are optional on all levels</p>
</td>
<td>
<p class="markdown-h1">Header 1</p>
<p class="markdown-h2">Header 2</p>
<p class="markdown-h3">Header 3</p>
<p class="markdown-h4">Header 4</p>
<p class="markdown-h4">Header 5</p>
<p class="markdown-h4">Header 6</p>
</td>
</tr>
<tr>
<th>Definition Lists</th>
<td>
<pre>WordPress
:  A semantic personal publishing platform 

Markdown
:  Text-to-HTML conversion tool</pre>
</td>
<td>
<dl>
<dt>WordPress</dt>
<dd>A semantic personal publishing platform</dd>
<dt>Markdown</dt>
<dd>Text-to-HTML conversion tool</dd>
</dl>
<p class="markdown-comment">Formatting for definition lists may vary between themes</p>
</td>
</tr>
<tr>
    <th>Inline Links</th>
    <td>
    <pre>A [link](http://example.com "Title").</pre>
    <p class="markdown-comment">Most browsers show the title text when hovering over a link.</p>
    <p>Please note that WordPress shortcodes, like [video] or [audio], will take priority over Markdown links and shouldn&#8217;t be used for link text.</p>
    </td>
    <td>A <a title="Title" href="http://example.com/">link</a>.</td>
    </tr>
    <tr>
    <th>Referenced Links</th>
    <td>
    <pre>Some text with [a link][1] and
    another [link][2].
    
    [1]: http://example.com/ "Title"
    [2]: http://example.org/ "Title"</pre>
    <p class="markdown-comment">The reference section can be anywhere in the document.</p>
    </td>
    <td>Some text with <a title="Title" href="http://example.com/">a link</a> and another <a title="Title" href="http://example.org/">link</a>.</td>
    </tr>
</tbody>
</table>
Official Markdown project: https://daringfireball.net/projects/markdown/
</div>    
{% endblock content %}


{% block child_js_above_files %} 
<!-- https://embed.plnkr.co/atyuBnVNktl8YSfdfPJT/preview -->
<!-- https://github.com/markedjs/marked -->
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>
        document.getElementById('content-markdown-result').innerHTML = 
            marked.parse(document.getElementById('content-markdown').innerHTML);
    </script>

{% endblock %}
