{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block child_css %}
<style>
    #preview {
        white-space: pre;
    }
    .form-group { padding-top:1.2em; }
</style>
{% endblock %}

{% block content %}
<div class="content-section">
    <!-- file upload : enctype multipart/form-data -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group  mb-3">
            <legend class="border-bottom">Create Post</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group mb-3">
            <button class="btn btn-outline-info" type="submit">Post</button>
        </div>
    </form>

    <!-- div row><h5>Preview</h5>
       
    <div class="card"  id="preview"></div>
    </div-->
    
</div>
{% endblock content %}

{% block child_js_below_files %} 
<script>
    $(document).ready(function(){

    $('textarea[name="content"]').on("keydown",function(){
        $("#preview").html($(this).val());
    });

    });
</script>
{% endblock %}