body {
  background: #fafafa;
  color: #234332; 
  margin-top: 5rem;
}

/* https://stackoverflow.com/questions/43233421/changing-dropdown-icon-on-bootstrap-4 */
/* .dropdown-toggle::after {
  display: none;
} */
/* .navbar { padding-left: 1.5rem; } */

/* .starter-template-headline { padding: 3rem 1.5rem; }
.starter-template { padding: 3rem 1.5rem; } */

#main-content { margin-top: 0.5em; background-color: #fafafa; }

.bg-steel {   background-color: #5f788a; }

.site-header .navbar-nav .nav-link {
  color: #c5aa6a;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
  background-color: #c5aa6a;  
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 800;
}

/* https://www.color-hex.com/color/2f2626 */
.navbar-my-color { background-color: #2f2626 !important;  }

h1 { font-size: 150%; }
h2 { font-size: 140%; }
h3 { font-size: 130%; }
h4 { font-size: 120%; }
h5 { font-size: 110%; }


.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}


.overlay-div{
  background-color:#000;
  opacity:.5;
}

