/* -------------------------------------- */

ol > li {
   display: table-row;
}
/* 
.psm-md2  dl, ol, ul { margin-top: 0.3rem; margin-bottom: 0.1rem; padding-left: 0.5rem; }
.psm-md2  li { line-height: 1.2rem; } 
*/

/* -------------------------------------- */

.psm-md2 {
   /* border:1px solid #d9e3ea; */
   box-shadow:none;
   text-shadow:none;
   -webkit-box-shadow:none;
   -moz-box-shadow:none;
   /* background:0 0; */
   border-spacing:0;
   /* margin-right:18px; */
   margin-left:0;
   font-size: 1rem;
   /* color:#2e4453 */
}
.psm-md2 table {
   border:1px solid rgb(182, 181, 181) !important;
   width: 100%;
}

.psm-md2 thead th {
   font-size:1.4rem;
   padding-bottom:10px !important
}
.psm-md2 th {
   font-size:1.3rem;
   font-weight:700
}
.psm-md2 th,
.psm-md2 td {
   /* padding:10px 10px 32px; */
   padding:10px 10px 6px;
   margin:2px !important;
   border:none;
   text-align:left;
   vertical-align:top;
   background:0 0;
   border-bottom:1px solid #d9e3ea
}
.psm-md2 p {
   margin-left:0 !important;
   font-size:1rem; 
   margin-top: 0.5rem; margin-bottom: 0.4rem;
}
.psm-md2 pre {
   margin-bottom: 0.5em; /* 1.4em; */
   color:#2e4453;
   font-size:1rem; 
}
.psm-md2 ul, .psm-md2 ol, .psm-md2 dl {
   margin-left:10px !important;
   margin-bottom:0; margin-top: 10px;
   padding-left: 1rem;
}

.psm-md2  li { line-height: 1.4rem; } 
/* .dropdown-menu  ul   { line-height:100%; } */


.psm-md2 th:nth-child(2),
.psm-md2 td:nth-child(2) {
   background-color:#fafafa;
   border-bottom:1px solid #e9eff3
}
.psm-md2 tbody tr:last-child th,
.psm-md2 tbody tr:last-child td {
   border-bottom:none !important
}
.psm-md2 td:nth-child(3) a {
   color:#1e8cbe
}
.psm-md2 .markdown-h1,
.psm-md2 .markdown-h2,
.psm-md2 .markdown-h3,
.psm-md2 .markdown-h4 {
   font-weight:700;
   margin-bottom:4px
}
.psm-md2 .markdown-h1 {
   font-size:2rem; 
   /* 22px */
}
.psm-md2 .markdown-h2 {
   font-size:1.8rem; 
   /* 20px */
}
.psm-md2 .markdown-h3 {
   font: size 1.6rem;
   /* 18px */
}
.psm-md2 .markdown-h4 {
   font-size:1.5rem;
   /* 16px */
}
.psm-md2 dd {
   margin-left:24px;
   margin-bottom:1.4em;
   font-size: 1.3rem;
   /* 15px */
}
dl,
dd,
dt {
   font-size:1.3rem;
   /* 15px; */
   line-height:1.6em;
   margin-bottom:1.4em
}
.psm-md2 abbr {
   border-bottom:1px dotted #444
}
.psm-md2 hr {
   height:1px;
   color:#aaa;
   background:#aaa;
   border:0
}
.psm-md2 .markdown-comment {
   font-size:1.1rem;
   /* 12px; */
   padding:0;
   margin:-5px 0 0;
   font-style:italic;
   color:#87a6bc
}

