.timeline-with-icons {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
    padding-left: 2rem
  }

  .timeline-with-icons .timeline-item {
    position: relative;
  }

  .timeline-with-icons .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
  }

  .timeline-with-icons .timeline-icon {
    position: absolute;
    left: -48px;
    background-color: #fff; /* hsl(217, 88.2%, 90%); */
    /* color: rgb(89, 90, 90); */
    /* border-radius: 50%; */
    height: 31px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .my-badge-font { font-size: 0.85em; font-weight: 100; }

.borderless table {
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-color: rgb(197, 197, 197) !important;
}    