{% extends "theme/root.html" %}

{% block content %}  
<div class="container">

    <div class="row">
        <div class="col-md-12 page-header">
            <div class="page-pretitle">Overview</div>
            <h2 class="page-title">Dashboard</h2>
        </div>
    </div>
    <!-- top cards -->
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="icon-big text-center">
                                <i class="teal fas fa-shopping-cart"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="detail">
                                <p class="detail-subtitle">New Orders</p>
                                <span class="number">6,267</span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="fas fa-calendar"></i> For this Week
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="icon-big text-center">
                                <i class="olive fas fa-money-bill-alt"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="detail">
                                <p class="detail-subtitle">Revenue</p>
                                <span class="number">$180,900</span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="fas fa-calendar"></i> For this Month
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="icon-big text-center">
                                <i class="violet fas fa-eye"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="detail">
                                <p class="detail-subtitle">Page views</p>
                                <span class="number">28,210</span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="fas fa-stopwatch"></i> For this Month
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="icon-big text-center">
                                <i class="orange fas fa-envelope"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="detail">
                                <p class="detail-subtitle">Support Request</p>
                                <span class="number">75</span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="fas fa-envelope-open-text"></i> For this week
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <!-- 2nd row -->
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                
                <div class="col-md-6">
                    <div class="card">
                        <div class="content">
                            <div class="head">
                                <h5 class="mb-0">Traffic Overview</h5>
                                <p class="text-muted">Current year website visitor data</p>
                            </div>
                            <div class="canvas-wrapper">
                                <canvas class="chart" id="trafficflow"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="content">
                            <div class="head">
                                <h5 class="mb-0">Sales Overview</h5>
                                <p class="text-muted">Current year sales data</p>
                            </div>
                            <div class="canvas-wrapper">
                                <canvas class="chart" id="sales"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="content">
                    <div class="head">
                        <h5 class="mb-0">Top by xxx</h5>
                        <p class="text-muted">Current year data</p>
                    </div>
                    <div class="canvas-wrapper">
                        <table class="table table-striped">
                            <thead class="success">
                                <tr>
                                    <th>column1</th>
                                    <th class="text-end">column2</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="content">
                    <div class="head">
                        <h5 class="mb-0">Most </h5>
                        <p class="text-muted">Current year data</p>
                    </div>
                    <div class="canvas-wrapper">
                        <table class="table table-striped">
                            <thead class="success">
                                <tr>
                                    <th>Page Name</th>
                                    <th class="text-end">Visitors</th>
                                </tr>
                            </thead>
                            <tbody>
                             
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- row 4 -->
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="dfd text-center">
                            <i class="blue large-icon mb-2 fas fa-thumbs-up"></i>
                            <h4 class="mb-0">+21,900</h4>
                            <p class="text-muted">LIKES</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="dfd text-center">
                            <i class="orange large-icon mb-2 fas fa-reply-all"></i>
                            <h4 class="mb-0">+22,566</h4>
                            <p class="text-muted">FOLLOWERS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="dfd text-center">
                            <i class="grey large-icon mb-2 fas fa-envelope"></i>
                            <h4 class="mb-0">+15,566</h4>
                            <p class="text-muted">SUBSCRIBERS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="dfd text-center">
                            <i class="olive large-icon mb-2 fas fa-dollar-sign"></i>
                            <h4 class="mb-0">+98,601</h4>
                            <p class="text-muted">TOTAL SALES</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock  %}  

{% block script_body %}

<script>

var trafficchart = document.getElementById("trafficflow");
var saleschart = document.getElementById("sales");

// new
var myChart1 = new Chart(trafficchart, {
type: 'line',
data: {
    labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
    datasets: [{
        data: ['1135', '1135', '1140', '1168', '1150', '1145', '1155', '1155', '1150', '1160', '1185', '1190'],
        backgroundColor: "rgba(48, 164, 255, 0.2)",
        borderColor: "rgba(48, 164, 255, 0.8)",
        fill: true,
        borderWidth: 1
    }]
},
options: {
    animation: {
        duration: 2000,
        easing: 'easeOutQuart',
    },
    plugins: {
        legend: {
            display: false,
            position: 'right',
        },
        title: {
            display: true,
            text: 'Number of Visitors',
            position: 'left',
        },
    },
}
});

// new
var myChart2 = new Chart(saleschart, {
type: 'bar',
data: {
    labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
    datasets: [{
            label: 'Income',
            data: ["280", "300", "400", "600", "450", "400", "500", "550", "450", "650", "950", "1000"],
            backgroundColor: "rgba(76, 175, 80, 0.5)",
            borderColor: "#6da252",
            borderWidth: 1,
    }]
},
options: {
    animation: {
        duration: 2000,
        easing: 'easeOutQuart',
    },
    plugins: {
        legend: {
            display: false,
            position: 'top',
        },
        title: {
            display: true,
            text: 'Number of Sales',
            position: 'left',
        },
    },
}
});

</script>>

{% endblock  %}  



{% block script_nav %} 
    {% if filterItems %}
    <script>
        // set preselected values
        {% for filterItem in filterItems %}
            $('#sel_{{filterItem.qId}}').val("{{ filterItem.selected }}");
        {% endfor %}

        function updateData() {
            var q = "";
            var qs = [];
            var tmp = '';

            {% for filterItem in filterItems %}
                tmp = $('#sel_{{filterItem.qId}}').val();
                if (tmp != '') qs.push('{{filterItem.qId}}=' + tmp);
            {% endfor %}

            if (qs.length > 0) {
                q = "?" + qs.join("&");
            }            
            window.location.href = window.location.pathname + q;
        }
    </script>    
    {% endif %}
{% endblock %}