<nav id="sidebar" class="active">
    <div class="sidebar-header">
        <img src="/static/img/PSM-logos_black.png" width="30" height="30" alt="PSM System" class="app-logo">PSM
    </div>
    <ul class="list-unstyled components text-secondary">
        <li>
            <a href="/"><i class="fas fa-home"></i> Homepage</a>
        </li>
        <li><a class="dropdown-item" href="{% url 'project_dashboard' %}"><i class="fas fa-chart-line"></i> Dashboard</a></li>
        <li>
            <a href="#navmenu2" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-chart-bar"></i> Charts</a>
            <ul class="collapse list-unstyled" id="navmenu2">
                <li><a class="dropdown-item" href="{% url 'project_chart_1' %}"><i class="fas fa-angle-right"></i>Gantt chart</a></li>
                <li><a class="dropdown-item" href="{% url 'project_chart_2' %}"><i class="fas fa-angle-right"></i>Gantt chart (pilot1)</a></li>
        {% if user.is_superuser %}            
                <li><a class="dropdown-item" href="{% url 'project_chart_3' %}"><i class="fas fa-angle-right"></i>Chart (pilot)</a></li>
        {% endif %}
            </ul>
        </li>
        <li>
            <a href="#navmenu3" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-table"></i> Tables</a>
            <ul class="collapse list-unstyled" id="navmenu3">
                <li><a class="dropdown-item" href="{% url 'project_list1' %}"><i class="fas fa-th-list"></i> Project List</a></li>
                <li><a class="dropdown-item" href="/report"><i class="fas fa-comment-alt"></i> Status Report List</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" href="/report/risks"><i class="fas fa-exclamation-circle"></i> Risk Report List</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" href="{% url 'project_list2' %}"><i class="fas fa-flag"></i> Key project summary</a></li>
                {% if user.is_superuser %}            
                {% endif %}
            </ul>
        </li>

        {% for filterItem in filterItems %}
        <li>
            <label  class="form-group label" for='sel_{{ filterItem.qId }}'>{{ filterItem.text }}</label>        
            <select class="form-select"  id='sel_{{ filterItem.qId }}' onchange="updateData()">
                <option value=''>ALL</option>
                {% for pItem in filterItem.items %}<option value={{ pItem.id }}>{{ pItem.name }}</option>
                {% endfor %}
            </select>
        </li>
        {% endfor %}


    </ul>
</nav>
