{% load static %}
<!-- navbar navigation component -->
<nav class="navbar navbar-expand-lg navbar-light bg-light bd-navbar-nav"  style="background-color: #e3f2fd !important;">
    <button type="button" id="sidebarCollapse" class="btn btn-light">
        <i class="fas fa-bars"></i><span></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- <a class="navbar-brand" href="{% url 'home' %}"  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
            <span>Home</span>
        </a> -->

        {% include "includes/nav-left.html" %}

        <ul class="nav navbar-nav ms-auto ">
            <li class="nav-item" >
                <form class="form-inline" method="GET" action="{% url 'project_search' %}" >
                <!-- <div class="form-group""> -->
                    <input class="form-control form-control-sm mt-1" style="display:flex;" name="q" type="search" placeholder="Search Project" value="{{request.GET.title}}">
                    <!-- <button class="btn btn btn-outline-info my-2 my-sm-0" type="submit"> Search </button> -->
                <!-- </div> -->
                </form>
            </li>               
      <!-- <li class="nav-item dropdown"><a class="nav-item nav-link"  href="/post/new/">New Post</a></li> -->

            {% include "includes/nav-right.html" %}
      
        </ul>

    </div>
</nav>
<!-- end of navbar navigation -->