{% load static %}
<!-- navbar navigation component -->
<nav class="navbar navbar-expand-lg navbar-light bg-light bd-navbar-nav">
    <button type="button" id="sidebarCollapse" class="btn btn-light">
        <i class="fas fa-bars"></i><span></span>
    </button>



    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- <a class="navbar-brand" href="{% url 'home' %}"  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
            <span>Home</span>
        </a> -->

        <!--left links-->
        <ul class="nav navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item"><a class="nav-item nav-link"  href="/">Home</a></li>

            <li class="nav-item dropdown">
                <div class="nav-dropdown">
                    <a href="#" id="nav1" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                        <span>Project Demand</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                    </a>
                    <!-- dropdown with ul dropdown-menu <div class="dropdown-menu dropdown-menu-end nav-link-menu" aria-labelledby="nav1"> -->
                            <ul class="dropdown-menu nav-list" aria-labelledby="nav1">
                            <li><a class="dropdown-item" href="/admin/psm/projectplan/add/"><i class="fas fa-list"></i> Create Project Request </a></li>
                            <li><a class="dropdown-item" href="/admin/psm/projectplan"><i class="fas fa-list"></i> Manage Project Request </a></li>
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item" href="{% url 'project_plan_index' %}"><i class="fas fa-list"></i> Project Demand List</a></li>
                        </ul>
                    <!-- </div> -->
                </div>
            </li>

            <li class="nav-item dropdown">
                <div class="nav-dropdown">
                    <a href="#" id="nav2" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class=""></i> <span>Project Administration</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                    </a>
                    <!-- <div class="dropdown-menu dropdown-menu-end nav-link-menu"> -->
                        <ul class="dropdown-menu nav-list" aria-labelledby="nav2">
                            <li><a class="dropdown-item" href="/admin/psm/project/add/"><i class="bi bi-kanban"></i> Register Project</a></li>
                            <li><a class="dropdown-item" href="/admin/psm/project/?year={% now 'Y' %}">Manage Project - FY{% now 'Y' %}</a></li>
                            <li><a class="dropdown-item" href="{% url 'project_list1' %}">Project list</a> </li>
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item" href="/admin/reports/report/add/">Create Project Status Report</a></li>
                            <li><a class="dropdown-item" href="/admin/reports/report">Manage Status Report</a></li>
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item" href="/admin/reports/reportrisk">Manage Project Risk Report</a></li>
                            <li><a class="dropdown-item" href="/admin/reviews/review">Manage ITPC</a></li>
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item" href="/admin/psm/program">Register Program</a></li>
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item" href="/admin">Admin - Home</a></li>
                        </ul>
                    <!-- </div> -->
                </div>
            </li>
            <!-- <li class="nav-item"><a class="nav-item nav-link"  href="/project/">Reports</a></li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="nav3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Reports
                </a>
                <ul class="dropdown-menu my-menu-3" aria-labelledby="nav3">
      
                  <li><a class="dropdown-item" href="{% url 'project_index' %}"><i class="fas fa-bullseye"></i> Report Home</a></li>
                  <div class="dropdown-divider"></div>
                  <li><a class="dropdown-item" href="{% url 'project_dashboard' %}"><i class="fas fa-chart-line"></i> Dashboard (pilot)</a></li>
                  <div class="dropdown-divider"></div>
                  <li><a class="dropdown-item" href="{% url 'project_chart_1' %}"><i class="fas fa-angle-right"></i>Gantt chart (type1)</a></li>
                  <li><a class="dropdown-item" href="{% url 'project_chart_2' %}"><i class="fas fa-angle-right"></i>Gantt chart (type2)</a></li>
              {% if user.is_superuser %}            
                      <li><a class="dropdown-item" href="{% url 'project_chart_3' %}"><i class="fas fa-angle-right"></i>Chart (pilot)</a></li>
              {% endif %}
                  <div class="dropdown-divider"></div>
                  <li><a class="dropdown-item" href="{% url 'project_list1' %}"><i class="fas fa-th-list"></i> Project List</a></li>
                  <li><a class="dropdown-item" href="/report"><i class="fas fa-comment-alt"></i> Status Report List</a></li>
                  <li><a class="dropdown-item" href="/report/risks"><i class="fas fa-exclamation-circle"></i> Risk Report List</a></li>
                </ul>
              </li>
    


        </ul>


        <!--Right links-->
        <ul class="nav navbar-nav ms-auto ">
            {% if user.profile.is_psmadm or user.is_superuser %}
            <li class="nav-item dropdown">
                <!-- <div class="nav-dropdown"> -->
                    <a href="#" id="nav4" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-link"></i> <span>System Admin</span>
                    </a>
                    <!-- <div class="dropdown-menu dropdown-menu-end nav-link-menu" aria-labelledby="nav1"> -->
                        <ul class="dropdown-menu nav-list" aria-labelledby="nav4">
                            <li><a class="dropdown-item" href="/admin/users/profilecbu/">Manage Profile CBU</a></li>
                            <li><a class="dropdown-item" href="/admin/users/profile/">Manage Profile</a></li>
                            <li><a class="dropdown-item" href="/admin/auth/user/">Manage User</a></li>
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item"  href="/post/new/">New Post</a></li>
                            <li><a class="dropdown-item" href="/admin/blog/post/">Manage Post</a></li>
                            <li><a class="dropdown-item" href="/admin/blog/ticket/">Manage Tickets</a></li>
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item" href="/admin">Admin - Home</a></li>
                        </ul>
                    <!-- </div> -->
                <!-- </div> -->
            </li>
            {% endif %}

            <li class="nav-item" >
                  <form class="form-inline" method="GET" action="{% url 'project_search' %}" >
                    <!-- <div class="form-group""> -->
                        <input class="form-control form-control-sm mt-2" style="display:flex;" name="q" type="search" placeholder="Search Project" value="{{request.GET.title}}">
                        <!-- <button class="btn btn btn-outline-info my-2 my-sm-0" type="submit"> Search </button> -->
                    <!-- </div> -->
                  </form>
            </li>            
            <!-- <li class="nav-item dropdown"><a class="nav-item nav-link"  href="/post/new/">New Post</a></li> -->

            {% if not user.is_authenticated %}
            <li class="nav-item"><a class="nav-item nav-link" href="{% url 'login' %}">Login</a></li>
            <li class="nav-item"><a class="nav-item nav-link" href="{% url 'register' %}">Register</a></li>
            {% else %}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink9" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa-user"></i> <span>{{ user.get_username }}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink9">
                  {% if user.is_authenticated %}
                    <a class="dropdown-item" href="{% url 'about' %}"><i class="bi bi-info-circle"></i> About</a>
                    <a class="dropdown-item" href="/admin/blog/ticket"><i class="bi bi-bug"></i> Bug tracker</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'profile' %}"><i class="bi bi-person-circle"></i> Profile</a>
                    <a class="dropdown-item" href="{% url 'logout' %}"><i class="bi bi-box-arrow-right"></i> Logout</a>
                  {% else %}
                    <a class="dropdown-item" href="{% url 'login' %}"><i class="bi bi-box-arrow-in-left"></i> Login</a>
                    <a class="dropdown-item" href="{% url 'register' %}">Register</a>
                  {% endif %}
                </div>
              </li>
            {% endif %}
            
        </ul>


    </div>
</nav>
<!-- end of navbar navigation -->