{% extends "theme/root.html" %}
{% load static %}

{% block head_script %}
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css">
    <!-- <link href="/static/theme/assets/vendor/datatables/datatables.min.css" rel="stylesheet"> -->
    <link href="{% static 'css/tablelist.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="container">

        <h5>Report Home</h5>
        <p>please navigate top/left hamberger menu to run charts/table report</p>

        <div class="col-md-6 col-lg-6">
          <div class="card">
              <div class="card-header">Latest Major/Small Project</div>
              <div class="card-body">
                  <div class="table-responsive">
                      <table class="table table-striped">
                          <thead>
                              <tr>
                                  <th>CBU</th>
                                  <th>Title</th>
                                  <th>PM</th>
                                  <th>Created</th>
                              </tr>
                          </thead>
                          <tbody>
                            {% for p in latest_update %}
                              <tr>
                                  <th scope="row">{{ p.CBU_str }}</th>
                                  <td>{{ p.title }}</td>
                                  <td>{{ p.pm }}</td>
                                  <td>{{ p.created_at|date:"M d, Y" }}</td>
                              </tr>
                            {% endfor %}
                          </tbody>
                      </table>
                  </div>
              </div>                           
          </div><!-- card -->
        </div>

		
	</div>

{% endblock content %}

