{% extends "theme/root.html" %}
{% load static %}
{% load humanize %}

{% block head_script %}
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css">
    <!-- <link href="/static/theme/assets/vendor/datatables/datatables.min.css" rel="stylesheet"> -->
    <link href="{% static 'css/tablelist.css' %}" rel="stylesheet">
    <style>
        .table { font-size: small; }
    </style>
{% endblock %}

{% block content %}
	<div class="container-fluid">

    <h5>Report Home | <a href="{% url 'project_index' %}?pm={{ user.profile.id }}">My Project</a></h5>
    <p>please navigate top/left hamberger menu to run charts/table report</p>

    <div class="row m-2 " data-masonry='{"percentPosition": true }' >

        <div class="col-md-4 col-lg-4">
          <div class="card">
              <div class="card-header">Latest project update</div>
              <div class="card-body">
                  <div class="table-responsive">
                      <table class="table table-striped">
                          <thead><tr><th>CBU</th><th>Title</th><!--th>PM</th--><th>Created</th></tr></thead>
                          <tbody>
                            {% for p in latest_update %}
                              <tr>
                                  <th scope="row">{{ p.CBU_str }}</th>
                                  <td><a href="{% url 'project_detail' pk=p.id %}">{{ p.title }}</a></td>
                                  <!-- <td>{{ p.pm }}</td> -->
                                  <td>{{ p.created_at|naturalday }}<!--|date:"m/d/y"--></td>
                              </tr>
                            {% endfor %}
                          </tbody>
                      </table>
                  </div>
              </div>                           
          </div><!-- card -->
        </div>
        
        <div class="col-md-4 col-lg-4">
          <div class="card">
              <div class="card-header">Top 10 oldest update (open project)</div>
              <div class="card-body">
                  <div class="table-responsive">
                      <table class="table table-striped">
                          <thead><tr><!--th>CBU</th--><th>Title</th><th>PM</th><th>Updated</th></tr></thead>
                          <tbody>
                            {% for p in latest_update %}
                              <tr>
                                  <!-- <th scope="row">{{ p.CBU_str }}</th> -->
                                  <td><a href="{% url 'project_detail' p.id %}">{{ p.title }}</a></td>
                                  <td>{{ p.pm }}</td>
                                  <td>{{ p.updated_on|naturalday }}<!--|date:"m/d/y"--></td>
                              </tr>
                            {% endfor %}
                          </tbody>
                      </table>
                  </div>
              </div>                           
          </div><!-- card -->
        </div>


        <div class="col-md-4 col-lg-4">
          <div class="card">
              <div class="card-header">Latest Status Report</div>
              <div class="card-body">
                  <div class="table-responsive">
                      <table class="table table-striped">
                          <thead><tr><!--th>CBU</th--><th>Title</th><th>PM</th><th>Created</th></tr></thead>
                          <tbody>
                            {% for r in latest_report %}
                              <tr>
                                  <!-- <th scope="row">{{ p.CBU_str }}</th> -->
                                  <td><a href="{% url 'project_detail' r.project.id %}">{{ r.project.title }}</a></td>
                                  <td>{{ r.project.pm }}</td>
                                  <td>{{ r.created_at|naturalday }}<!--|date:"m/d/y"--></td>
                              </tr>
                            {% endfor %}
                          </tbody>
                      </table>
                  </div>
              </div>                           
          </div><!-- card -->
        </div>

        <div class="col-md-4 col-lg-4">
          <div class="card">
              <div class="card-header">Latest open risks(top 5), {{latest_risk.count}} records</div>
              <div class="card-body">
                  <div class="table-responsive">
                      <table class="table table-striped">
                          <thead><tr><th>CBU</th><th>Title</th><!--th>PM</th--><th>Created</th></tr></thead>
                          <tbody>
                            {% for r in latest_risk %}
                              <tr>
                                  <th scope="row">{{ r.project.CBU_str }}</th>
                                  <td><a href="{% url 'report_risks_project' r.project.id %}">{{ r.project.title }}</a></td>
                                  <!-- <td>{{ p.pm }}</td> -->
                                  <td>{{ r.created_at|naturalday }}<!--|date:"m/d/y"--></td>
                              </tr>
                            {% endfor %}
                          </tbody>
                      </table>
                  </div>
              </div>                           
          </div><!-- card -->
        </div>

        <div class="col-md-4 col-lg-4">
          <div class="card">
              <div class="card-header">Project Request aging(top 5), {{latest_request.count}} records</div>
              <div class="card-body">
                  <div class="table-responsive">
                      <table class="table table-striped">
                          <thead><tr><th>CBU</th><th>Title</th><!--th>PM</th--><th>Created</th></tr></thead>
                          <tbody>
                            {% for pp in latest_request %}
                              <tr>
                                  <th scope="row">{{ pp.CBU_str }}</th>
                                  <td><a href="{% url 'project_plan_detail' pp.id %}">{{ pp.title }}</a></td>
                                  <!-- <td>{{ p.pm }}</td> -->
                                  <td>{{ pp.created_at|naturalday }}<!--|date:"m/d/y"--></td>
                              </tr>
                            {% endfor %}
                          </tbody>
                      </table>
                  </div>
              </div>                           
          </div><!-- card -->
        </div>

        <div class="col-md-4 col-lg-4">
          <div class="card">
              <div class="card-header">New Project Registreation (top 5)</div>
              <div class="card-body">
                  <div class="table-responsive">
                      <table class="table table-striped">
                          <thead><tr><th>CBU</th><th>Title</th><!--th>PM</th--><th>Created</th></tr></thead>
                          <tbody>
                            {% for p in object_list %}
                              <tr>
                                  <th scope="row">{{ p.CBU_str }}</th>
                                  <td><a href="{% url 'project_detail' pk=p.id %}">{{ p.title }}</a></td>
                                  <!-- <td>{{ p.pm }}</td> -->
                                  <td>{{ p.created_at|naturalday }}<!--|date:"m/d/y"--></td>
                              </tr>
                            {% endfor %}
                          </tbody>
                      </table>
                  </div>
              </div>                           
          </div><!-- card -->
        </div>


        
    </div>
	</div>

{% endblock content %}

