{% extends "base_wide.html" %}
{% load static %}
{% load markdown_extras %}
{% load thumbnail %}

{% block child_css %}
<style>
  .card-main { min-height: 400px; }
  .card-obj  { min-height: 250px; }
  .card-sub  { min-height: 150px; }
  .card-time { height: 150px; }

  .text-small { font-size: 0.75rem !important; }
  .timelinepatch { height: 150px !important; }
  .timeline-item-up { position: absolute; bottom: 10px; width: 200px; margin-left: -100px; }
  .timeline-item-down { position: absolute; top: 20px; width: 200px; margin-left: -100px; }
</style>  

<link href="{% static 'css/timeline.css' %}" rel="stylesheet">
<style>
    .timeline-with-icons {
      border-left: 1px solid hsl(0, 0%, 90%);
      position: relative;
      list-style: none;
      padding-left: 2rem
    }

    .timeline-with-icons .timeline-item {
      position: relative;
    }

    .timeline-with-icons .timeline-item:after {
      position: absolute;
      display: block;
      top: 0;
    }

    .timeline-with-icons .timeline-icon {
      position: absolute;
      left: -48px;
      background-color: #fff; /* hsl(217, 88.2%, 90%); */
      /* color: rgb(89, 90, 90); */
      /* border-radius: 50%; */
      height: 31px;
      width: 31px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .my-badge-font { font-size: 0.85em; font-weight: 100; }

.borderless table {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-color: rgb(197, 197, 197) !important;
}    
</style>

<!-- https://getbootstrap.com/docs/5.0/examples/masonry/ -->
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>

{% endblock %}

{% block content %}

<div class="container-lg">
  <div class="row m-3">
    <div class="col d-flex align-items-start">Project code : <b>{{ project.pjcode }}</b> <a href="/admin/psm/project/{{ project.id }}"><i class="bi bi-pencil"></i></a></div>
    <div class="col d-flex justify-content-end">Project year : <b>{{ project.year }}</b></div>
  </div>
  
  <div class="row m-3 ">
    <!-- border-top border-bottom -->
    <div class="col-8"><div class="card w-100"><div class="card-body">
      <h5>Title: <b>{{ project.title }}</b></h5>
    </div></div></div>
    <div class="col-4"><div class="card w-100"><div class="card-body">
      <h5>Owner: <b>{{ project.pm.name }}</b></h5>
    </div></div></div>

  </div><!--row-->

  <div class="row m-3 " data-masonry='{"percentPosition": true }' style="position: relative;">
     
    <!-- <div class="grid" style="--bs-columns: 3;"> -->

      <div class="col-4 ">
        <div class="card w-100">
          <div class="card-body">
            <h5 class="card-title">Description</h5>
            <div class="row ms-2 media">
                <p class="card-text">{{ project.description|md2|safe }}</p>
            </div>
          </div>
        </div>
      </div><!--1st-->

      <div class="col-4">
        <div class="card w-100 ">
          <div class="card-body">
            <h5 class="card-title">Objectives</h5>
            <div class="row ms-2 media">
              <p class="card-text">{{ project.objective|md2|safe }}</p>
            </div>
          </div>
        </div>  
      </div><!--2nd-->

      
      <div class="col-4 mb-3">
        <div class="card w-100 mb-3">
          <div class="card-body">
            <h5 class="card-title">Status Information</h5>
            <div class="row ms-2 media">
              <table class="table table-borderless" >
                <tr><td>State</td><td>{{ project.state|slice:'3:' }}</td></tr>
                <tr><td>Phase</td><td>{{ project.phase|slice:'3:' }}</td></tr>
                <tr><td>Complete%</td><td>{{ project.complete }}%</td></tr>
                <tr><td>Health</td><td>
                  Overall
                  {%   if project.status_o|slice:'0:1' == '1' %}<i class="text-success bi-check-circle-fill"></i>
                  {% elif project.status_o|slice:'0:1' == '2' %}<i class="text-warning bi-exclamation-circle"></i>
                  {% elif project.status_o|slice:'0:1' == '3' %}<i class="text-danger  bi-exclamation-circle-fill"></i>
                  {% elif project.status_o|slice:'0:1' == '9' %}<i class="text-primary bi-circle-fill"></i>
                  {% else %}<i class="text-secondary  bi-dash-circle-dotted"></i>
                  {% endif %}
                  Schedule
                  {%   if project.status_t|slice:'0:1' == '1' %}<i class="text-success bi-check-circle-fill"></i>
                  {% elif project.status_t|slice:'0:1' == '2' %}<i class="text-warning bi-exclamation-circle"></i>
                  {% elif project.status_t|slice:'0:1' == '3' %}<i class="text-danger  bi-exclamation-circle-fill"></i>
                  {% elif project.status_t|slice:'0:1' == '9' %}<i class="text-primary bi-circle-fill"></i>
                  {% else %}<i class="text-secondary  bi-dash-circle-dotted"></i>
                  {% endif %}
                  Scope
                  {%   if project.status_s|slice:'0:1' == '1' %}<i class="text-success bi-check-circle-fill"></i>
                  {% elif project.status_s|slice:'0:1' == '2' %}<i class="text-warning bi-exclamation-circle"></i>
                  {% elif project.status_s|slice:'0:1' == '3' %}<i class="text-danger  bi-exclamation-circle-fill"></i>
                  {% elif project.status_s|slice:'0:1' == '9' %}<i class="text-primary bi-circle-fill"></i>
                  {% else %}<i class="text-secondary  bi-dash-circle-dotted"></i>
                  {% endif %}
                  Budget
                  {%   if project.status_b|slice:'0:1' == '1' %}<i class="text-success bi-check-circle-fill"></i>
                  {% elif project.status_b|slice:'0:1' == '2' %}<i class="text-warning bi-exclamation-circle"></i>
                  {% elif project.status_b|slice:'0:1' == '3' %}<i class="text-danger  bi-exclamation-circle-fill"></i>
                  {% elif project.status_b|slice:'0:1' == '9' %}<i class="text-primary bi-circle-fill"></i>
                  {% else %}<i class="text-secondary  bi-dash-circle-dotted"></i>
                  {% endif %}
                </td></tr>
                <tr><td>Last report</td><td>{{ project.lstrpt }}</td></tr>
                <tr><td>PM memo</td><td>{{ project.resolution }}</td></tr>
              </table>  
            </div>
          </div>
        </div>
      </div><!--1st-->

      <div class="col-4 mb-3">
        <div class="card w-100 ">
          <div class="card-body">
            <h5 class="card-title">Profile</h5>
            <div class="row ms-2 media">
              <table class="table table-borderless" >
                <tr><td>Agile project?</td><td>{{ project.is_agile }}</td></tr>
                <tr><td>Related Strategy</td><td>{{ project.strategy_str }}</td></tr>
                <tr><td>Related Program</td><td>{{ project.program }}</td></tr>
                <tr><td>CBU</td><td>{{ project.cbu_str }}</td></tr>
                <tr><td>Est.cost</td><td>{{ project.est_cost }}</td></tr>
                <tr><td>Approved budget</td><td>{{ project.app_budg }}</td></tr>
                <tr><td>Reference Plan</td><td>{{ project.ref_plan }}</td></tr>
              </table>  
              </div>
          </div>
        </div>  
      </div><!--2nd-->

      
      <div class="col-4 mb-3">

        <div class="card w-100 card-main">
          <div class="card-body">
            <h5 class="card-title">Timeline</h5>
            <div class="row ms-3 mt-3 media">
                  <!-- https://stackoverflow.com/questions/15300314/django-template-using-set-all -->
                  <!-- https://mdbootstrap.com/docs/standard/extended/timeline/ -->
                  <ul class="timeline-with-icons">
                  {% for r in reports %}
                    <li class="timeline-item mb-2">
                      <span class="timeline-icon fs-4">
                        {%   if r.status_o|slice:'0:1' == '1' %}<i class="text-success bi-check-circle-fill"></i>
                        {% elif r.status_o|slice:'0:1' == '2' %}<i class="text-warning bi-exclamation-circle"></i>
                        {% elif r.status_o|slice:'0:1' == '3' %}<i class="text-danger  bi-exclamation-circle-fill"></i>
                        {% elif r.status_o|slice:'0:1' == '9' %}<i class="text-primary fas bi-circle-fill"></i>
                        {% else %}<i class="text-secondary  bi-dash-circle-dotted"></i>
                        {% endif %}
                      </span>
                      <p>  <span class="badge rounded text-center my-badge-font 
                        {%   if r.status_t|slice:'0:1' == '1' %} text-success 
                        {% elif r.status_t|slice:'0:1' == '2' %} text-warning
                        {% elif r.status_t|slice:'0:1' == '3' %} text-danger  
                        {% elif r.status_t|slice:'0:1' == '9' %} text-primary
                        {% else %} text-light text-dark
                        {% endif %}" style="width: 3.5rem;">Schedule</span>
                        <span class="badge rounded text-center my-badge-font 
                        {%   if r.status_s|slice:'0:1' == '1' %} text-success 
                        {% elif r.status_s|slice:'0:1' == '2' %} text-warning
                        {% elif r.status_s|slice:'0:1' == '3' %} text-danger  
                        {% elif r.status_s|slice:'0:1' == '9' %} text-primary
                        {% else %} text-light text-dark
                        {% endif %}" style="width: 3.5rem;">Scope</span>
                        <span class="badge rounded text-center  my-badge-font 
                        {%   if r.status_b|slice:'0:1' == '1' %} text-success 
                        {% elif r.status_b|slice:'0:1' == '2' %} text-warning
                        {% elif r.status_b|slice:'0:1' == '3' %} text-danger  
                        {% elif r.status_b|slice:'0:1' == '9' %} text-primary
                        {% else %} text-light text-dark  
                        {% endif %}" style="width: 3.5rem;">Budget</span>  
                    <span class="small  fw-light text-black-50"><a href="/reports/{{r.id}}/">{{ r.created_on }}</a></span></p>
                      </li>
                  {% endfor %}
                  </ul>

            </div>
          </div>
        </div>  
      </div><!--3rd col-->

    <!-- </div>grid -->
  </div><!--row-->


  <!-- timeline -->
  <!-- https://www.bootdey.com/snippets/view/bs4-Horizontal-timeline#preview -->
  <!-- https://freefrontend.com/bootstrap-timelines/ -->
  <!-- <div class="row mt-3 mb-0" style="padding-right:12px">
    <div class="card w-100 card-time" style="margin-left:12px;"" >
      <div class="card-body">
        <div clas="container">
        <h5 class="mb-0">Schedule</h5>
        

          <div class="cd-horizontal-timeline loaded" style="margin-top:-24px;">
              <div class="timeline timelinepatch">
                  <div class="events-wrapper">
                      <div class="events" style="width: 100%; min-width: 800px;">
                          <ol id="disp_list"></ol>
                          <span class="filling-line" aria-hidden="true"></span>
                      </div>
                      <!-- .events -->
                  </div>
              </div>
          </div>
      </div>

    </div>
    </div>
  </div> -->

</div>

{% endblock %}

{% block child_js_above_files %} 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  var tItems = [
    {text: "Ideation", dateStr: "{{ project.p_ideation }}"}
    , {text: "Planning Start", dateStr: "{{ project.p_plan_b }}"}
    , {text: "Kick-Off", dateStr: "{{ project.kickoff }}"}
    , {text: "Design Start", dateStr: "{{ project.p_design_b }}"}
    , {text: "UAT Start", dateStr: "{{ project.p_uat_b }}"}
    , {text: "Launching", dateStr: "{{ project.p_launch }}"}
    , {text: "Closing", dateStr: "{{ project.p_closing }}"}
  ]; 
  // merge date
  var tLen = tItems.length;
  for(var i = 0; i < tLen; i++) {
    if (tItems[i].dateStr === '') continue;
    for(var j = i + 1; j < tLen; j++) {
      if (tItems[i].dateStr === tItems[j].dateStr) {
        tItems[i].text += ", " + tItems[j].text;
        tItems[j].dateStr = '';        
      } else {
        break;
      }
    }
  }

  // console.log(tItems);
  var tDateBegin = Date.parse("3000-01-01");
  var tDateEnd = Date.parse("1900-01-01");
  tItems.forEach((pItem)=>{ 
    pItem.date = Date.parse(pItem.dateStr) + 17 * 3600 * 1000;    // GMT -0700
    if (pItem.date) {
      tDateBegin = Math.min(tDateBegin, pItem.date); 
      tDateEnd = Math.max(tDateEnd, pItem.date); 
    }
  });
  var tDelta = tDateEnd - tDateBegin;
  tDateBegin -= tDelta * 0.10;
  tDateEnd += tDelta * 0.10;
  tDelta *= (1 + 0.20);
  var tDateTmp = new Date();
  var tCurrentDate = new Date(tDateTmp.getFullYear(), tDateTmp.getMonth(), tDateTmp.getDate());
  var tProgress = Math.min(1.0 * (tCurrentDate - tDateBegin) / tDelta, 1); 
  var mMonths = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

  $(document).ready(function(){
    var tFlag = true;
    var tFlagCurrentDate = false;
    var tCurrentYear = "";    
    var getDateStr = (pDate) => {
      var tDate = new Date(pDate);
      var tDateStr = mMonths[tDate.getMonth()] + " " + tDate.getDate();
      if (tCurrentYear !== tDate.getFullYear()) {
        tCurrentYear = tDate.getFullYear();
        tDateStr += ", " + tCurrentYear;
      }
      return tDateStr;
    };
    var getISODateStr = (pDate) => {
      return new Date(pDate).toISOString().split("T")[0];
    };
    var addListItem = (pPos, pText, pClass, pDateStr, pFlag) => {
      $('#disp_list').append( '<li><a href="#" class="' + pClass + '" data-date="' + pDateStr + '" style="left: ' + pPos + '%;"><span class="' + ((pFlag) ? "timeline-item-up" : "timeline-item-down") + '">' + pText + '</span></a></li>' );
    }

    tItems.forEach((pItem)=>{ 
      if (pItem.date) {
        var tLeft = 100.0 * (pItem.date - tDateBegin) / tDelta;
        var tDateStr = getDateStr(pItem.date);
        var tContentStr = (pItem.text + "<br>" + tDateStr);
        var tClass = "text-small";        
        if (tCurrentDate > pItem.date) {
          tClass += " older-event";
        } 
        else if (tCurrentDate === pItem.date) {
          tClass += " selected";
          tFlagCurrentDate = true;
        }
        else {
          if (!tFlagCurrentDate) {
            addListItem((tProgress*100), getDateStr(tCurrentDate), "text-small selected", null, tFlag);
            tFlagCurrentDate = true;
            tFlag = !tFlag;
          }
        }
        addListItem(tLeft, tContentStr, tClass, getISODateStr(pItem.date), tFlag);
        tFlag = !tFlag;
      }
    });

    $('.filling-line').css({transform: "scaleX(" + tProgress + ")"});
    // console.log(tDateBegin, tDateEnd, tProgress, tItems);
  })  
</script>
<!-- Javascript is here -->

{% endblock %}

