{% extends "base_wide.html" %}
{% load static %}
{% load thumbnail %}

{% block child_css %}
<style>
  .card-main { min-height: 400px; }
  .card-obj  { min-height: 250px; }
  .card-sub  { min-height: 150px; }
  .card-time { height: 120px;  }
</style>  

<link href="{% static 'css/timeline.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="container-lg">
  <div class="row m-3">
    <div class="col d-flex align-items-start">Project code : <b>{{ project.pjcode }}</b> <a href="/admin/psm/project/{{ project.id }}"><i class="bi bi-pencil"></i></a></div>
    <div class="col d-flex justify-content-end">Project year : <b>{{ project.year }}</b></div>
  </div>
  
  <div class="row m-3 ">
    <!-- border-top border-bottom -->
    <div class="col-8"><div class="card w-100"><div class="card-body">
      <h5>Title: <b>{{ project.title }}</b></h5>
    </div></div></div>
    <div class="col-4"><div class="card w-100"><div class="card-body">
      <h5>Owner: <b>{{ project.pm }}</b></h5>
    </div></div></div>

  </div><!--row-->

  <div class="row m-3"> 
    <!-- <div class="grid" style="--bs-columns: 3;"> -->

      <div class="col-4 ">
        <div class="card w-100 card-main">
          <div class="card-body">
            <h5 class="card-title">As-Is</h5>
            <div class="row ms-2 media">
                
                  {% if project.img_asis %}
                  {% thumbnail project.img_asis "x300" crop="center" as asis %}
                  <img src="{{ asis.url }}" width="{ asis.width }" height="{ asis.height }" alt="asis" class="mb-3">
                  {% endthumbnail %} 
                  </div><div class="row">
                  {% endif %}
                <p class="card-text">{{ project.asis }}</p>
            </div>
          </div>
        </div>
      </div><!--1st-->

      <div class="col-4">
        <div class="card w-100 card-main">
          <div class="card-body">
            <h5 class="card-title">To-be</h5>
            <div class="row ms-2 media">
              {% if project.img_tobe %}
              {% thumbnail project.img_tobe "x300" crop="center" as tobe %}
              <img src="{{ tobe.url }}" width="{ tobe.width }" height="{ tobe.height }" alt="tobe" class="mb-3">
              {% endthumbnail %} 
              </div><div class="row">
            {% endif %}
              <p class="card-text">{{ project.tobe }}</p>
            </div>
          </div>
        </div>  
      </div><!--2nd-->
      
      <div class="col-4">
        <div class="card w-100 border-0"><div class="container" style="padding-left:12px; padding-right:12px;">
          <div class="row border-0">
            <div class="card w-100 card-obj">
              <div class="card-body">
                <h5 class="card-title">Objectives</h5><p class="card-text">{{ project.description }}</p>
              </div>
            </div>
          </div><!--row-->

          <div class="row">
            <div class="card w-100 card-sub">
              <div class="card-body">
                <h5 class="card-title">Considerations</h5><p class="card-text">{{ project.consider }}</p>
              </div>
            </div>
          </div><!--row-->
        </div></div>
      </div><!--3rd col-->

    <!-- </div>grid -->
  </div><!--row-->


  <div class="row m-3">

    <div class="col-4">
      <div class="card w-100 card-sub">
        <div class="card-body">
          <h5 class="card-title">Qualitative Benefit</h5><p class="card-text">{{ project.quali }}</p>
        </div>
      </div>
    </div>
    
    <div class="col-4">
      <div class="card w-100 card-sub">
        <div class="card-body">
          <h5 class="card-title">Quantitative Benefit</h5><p class="card-text">{{ project.quant }}</p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card w-100 card-sub">
        <div class="card-body">
          <h5 class="card-title">Budget/Resource</h5>
          <div class="card-text">
            <div class="grid">
              <div class="row">
              <div class="col-3">Budget</div><div class="col-9">{{ project.quant }}</div>
              </div><div class="row">
                <div class="col-3">Resource</div><div class="col-9">{{ project.resource }}</div>
              </div>
            </grid>  
          </div>
        </div>
      </div>
    </div>

  </div>  

  <div class="row mt-3 mb-0" style="padding-right:12px">
    <div class="card w-100 card-time" style="margin-left:12px;"" >
      <div class="card-body">
        <div clas="container">
        <h5 class="mb-0">Schedule</h5>
        
<!-- timeline -->
  <!-- https://www.bootdey.com/snippets/view/bs4-Horizontal-timeline#preview -->
  <!-- https://freefrontend.com/bootstrap-timelines/ -->

          <div class="cd-horizontal-timeline loaded" style="margin-top:-24px;">
              <div class="timeline">
                  <div class="events-wrapper">
                      <div class="events" style="width: 1800px;">
                          <ol>
                              <li><a href="#" data-date="{{ project.p_ideation }}" class="older-event" style="left: 120px;">Ideation<br>16 Jan</a></li>
                              <li><a href="#" data-date="{{ project.p_plan_b }}"   style="left:  300px;" class="older-event">Planning Start<br>28 Feb</a></li>
                              <li><a href="#" data-date="{{ project.kickoff }}"    style="left:  800px;" class="older-event">Kick-Off<br>28 Feb</a></li>
                              <li><a href="#" data-date="{{ project.p_design_b }}" style="left: 1180px;" class="selected">Design Start<br>20 Mar</a></li>
                              <li><a href="#" data-date="{{ project.p_uat_b }}"    style="left: 1300px;">UAT Start<br>29 Jan</a></li>
                              <li><a href="#" data-date="{{ project.p_launch }}"   style="left: 1500px;">Launching<br>29 Jan</a></li>
                              <li><a href="#" data-date="{{ project.p_closing }}"  style="left: 1680px;">Closing<br>3 Mar</a></li>
                          </ol>
                          <span class="filling-line" aria-hidden="true" style="transform: scaleX(0.281506);"></span>
                      </div>
                      <!-- .events -->
                  </div>
              </div>
          </div>

<!-- timeline -->
      </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block child_js_above_files %} 
<!-- Javascript is here -->

{% endblock %}

