{% extends "theme/root.html" %}
{% load static %}
{% load markdown_extras %}
{% load thumbnail %}

{% block head_script %}
<style>
  .card-main { min-height: 400px; }
  .card-obj  { min-height: 250px; }
  .card-sub  { min-height: 150px; }
  .card-time { height: 150px; }

  .text-small { font-size: 0.75rem !important; }
  .timelinepatch { height: 150px !important; }
  .timeline-item-up { position: absolute; bottom: 10px; width: 200px; margin-left: -100px; }
  .timeline-item-down { position: absolute; top: 20px; width: 200px; margin-left: -100px; }
  .btn-primary-outline { background-color: transparent; border-color: #fff; }
</style>  

<link href="{% static 'css/timeline.css' %}" rel="stylesheet">
<link href="{% static 'css/timeline_vertical.css' %}" rel="stylesheet">

<!-- https://getbootstrap.com/docs/5.0/examples/masonry/ -->
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>

<script src="https://code.highcharts.com/gantt/highcharts-gantt.js"></script>
<script src="https://code.highcharts.com/gantt/modules/draggable-points.js"></script>
<script src="https://code.highcharts.com/gantt/modules/accessibility.js"></script>
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row m-2">
    <div class="col d-flex align-items-start">Project code : <b>{{ project.pjcode }}</b>
      <span class="ms-3"> <a target="_blank" href="/admin/psm/project/{{ project.id }}"><i class="bi bi-pencil"></i></a> </span>
      <span class="ms-3"> <a target="_blank" href="/admin/reports/report/add/?project__id={{ project.id }}"><i class="bi bi-chat-left-quote-fill"></i></a> </span>
      <span class="ms-3"> <a target="_blank" href="/admin/reports/reportrisk/add/?project__id={{ project.id }}"><i class="pe-2 bi bi-flag"></i></a> </span>
    </div>
    <div class="col d-flex justify-content-end">Project year : <b>{{ project.year }}</b></div>
  </div>
  
  <div class="row m-2 ">
    <!-- border-top border-bottom -->
    <div class="col-8"><div class="card w-100"><div class="card-body">
      <h5>Title: <b>{{ project.title }}</b></h5>
    </div></div></div>
    <div class="col-4"><div class="card w-100"><div class="card-body">
      <h5>Owner: <b>{{ project.pm.name }}</b></h5>
    </div></div></div>

  </div><!--row-->

  <div class="row m-2 " data-masonry='{"percentPosition": true }' >
     
    <!-- <div class="grid" style="--bs-columns: 3;"> -->

      <div class="col-4 mt-2">
        <div class="card w-100">
          <div class="card-body">
            <h5 class="card-title">Description</h5>
            <!-- <div class="row ms-2 media"> -->
                <p class="card-text">{{ project.description|md2|safe }}</p>
            <!-- </div> -->
          </div>
        </div>
      </div><!--1st-->

      <div class="col-4 mt-2">
        <div class="card w-100 ">
          <div class="card-body">
            <h5 class="card-title">Objectives</h5>
            <!-- <div class="row ms-2 media"> -->
              <p class="card-text">{{ project.objective|md2|safe }}</p>
            <!-- </div> -->
          </div>
        </div>  
      </div><!--2nd-->

      
      <div class="col-4 mt-2">
        <div class="card w-100 ">
          <div class="card-body">
            <h5 class="card-title">Status{% if risk_count > 0 %} <a target="_blank" href="{% url 'report_risks' %}?project={{ project.id }}"> <span class="badge rounded-pill bg-danger"> {{  risk_count  }} </span></a> {% endif %}</h5>
            <!-- <div class="row ms-2 media"> -->
              <table class="table table-borderless" >
                <tr><td>State</td><td>{{ project.state|slice:'3:' }}</td></tr>
                <tr><td>Phase</td><td>{{ project.phase|slice:'3:' }}</td></tr>
                <tr><td>Complete%</td><td>{{ project.progress }}%</td></tr>
                <tr><td>Health</td><td>
                  Overall
                  {%   if project.status_o|slice:'0:1' == '1' %}<i class="text-success bi-check-circle-fill"></i>
                  {% elif project.status_o|slice:'0:1' == '2' %}<i class="text-warning bi-exclamation-circle"></i>
                  {% elif project.status_o|slice:'0:1' == '3' %}<i class="text-danger  bi-exclamation-circle-fill"></i>
                  {% elif project.status_o|slice:'0:1' == '9' %}<i class="text-primary bi-circle-fill"></i>
                  {% else %}<i class="text-secondary  bi-dash-circle-dotted"></i>
                  {% endif %}
                  Schedule
                  {%   if project.status_t|slice:'0:1' == '1' %}<i class="text-success bi-check-circle-fill"></i>
                  {% elif project.status_t|slice:'0:1' == '2' %}<i class="text-warning bi-exclamation-circle"></i>
                  {% elif project.status_t|slice:'0:1' == '3' %}<i class="text-danger  bi-exclamation-circle-fill"></i>
                  {% elif project.status_t|slice:'0:1' == '9' %}<i class="text-primary bi-circle-fill"></i>
                  {% else %}<i class="text-secondary  bi-dash-circle-dotted"></i>
                  {% endif %}
                  Scope
                  {%   if project.status_s|slice:'0:1' == '1' %}<i class="text-success bi-check-circle-fill"></i>
                  {% elif project.status_s|slice:'0:1' == '2' %}<i class="text-warning bi-exclamation-circle"></i>
                  {% elif project.status_s|slice:'0:1' == '3' %}<i class="text-danger  bi-exclamation-circle-fill"></i>
                  {% elif project.status_s|slice:'0:1' == '9' %}<i class="text-primary bi-circle-fill"></i>
                  {% else %}<i class="text-secondary  bi-dash-circle-dotted"></i>
                  {% endif %}
                  Budget
                  {%   if project.status_b|slice:'0:1' == '1' %}<i class="text-success bi-check-circle-fill"></i>
                  {% elif project.status_b|slice:'0:1' == '2' %}<i class="text-warning bi-exclamation-circle"></i>
                  {% elif project.status_b|slice:'0:1' == '3' %}<i class="text-danger  bi-exclamation-circle-fill"></i>
                  {% elif project.status_b|slice:'0:1' == '9' %}<i class="text-primary bi-circle-fill"></i>
                  {% else %}<i class="text-secondary  bi-dash-circle-dotted"></i>
                  {% endif %}
                </td></tr>
                <tr><td>Last report</td><td>{{ project.lstrpt }}</td></tr>
                <tr><td>PM memo</td><td>{{ project.pm_memo }}</td></tr>
              </table>  
            <!-- </div> -->
          </div>
        </div>
      </div><!--1st-->

      <div class="col-4 mt-2">
        <div class="card w-100 ">
          <div class="card-body">
            <h5 class="card-title">Project Info</h5>
            <!-- <div class="row ms-2 media"> -->
              <table class="table table-borderless" >
                <tr><td>HAEA Dept.</td><td>{{ project.dept }}</td></tr>
                <tr><td>Team</td><td>{{ project.team }}</td></tr>
                <tr><td>CBU</td><td>{{ project.CBU_str }}</td></tr>
                <tr><td>CBU PM</td><td>{{ project.CBUpm }}</td></tr>
                <tr><td>Carryfoward?</td><td>{{ project.cf }}</td></tr>
                <tr><td>Project Type</td><td>{{ project.type|slice:'3:' }}</td></tr>
                <tr><td>Project Catgory</td><td>{{ project.category|slice:'3:' }}</td></tr>
                <tr><td>Agile project?</td><td>{{ project.is_agile }}</td></tr>
                <tr><td>Est.cost</td><td>{{ project.est_cost }}</td></tr>
                <tr><td>Approved budget</td><td>{{ project.budget }}</td></tr>
                <tr><td>Related Strategy</td><td>{{ project.strategy_str }}</td></tr>
                <tr><td>Related Program</td><td>{{ project.program }}</td></tr>
                <tr><td>Reference Plan</td><td>{% if project.ref_plan %}<a target="_blank" href="/project-plan/{{ project.ref_plan.id }}/">{{ project.ref_plan }}</a>{% else %}None{% endif %}</td></tr>
              </table>  
              <!-- </div> -->
          </div>
        </div>  
      </div><!--2nd-->

      <div class="col-4 mt-2">
        <div class="card w-100 ">
          <div class="card-body">
            <h5 class="card-title">Schedule</h5>
            <!-- <div class="row ms-2 media"> -->
              <div id="gantt_chart"></div>
              <table class="table small">
                <thead>
                  <tr>
                    <th scope="col">Phase</th>
                    <th scope="col">Actual</th>
                    <th scope="col">Plan</th>
                  </tr>
                </thead>
                <tbody>
                  <tr><td>Planning-start</td><td>{{ project.a_plan_b|date:"m/d/y" }}</td><td>{{ project.p_plan_b|date:"m/d/y" }} </td> </tr>
                  <tr><td>Kick-Off</td><td>{{ project.a_kickoff|date:"m/d/y" }} </td><td> {{ project.p_kickoff|date:"m/d/y" }}</td></li>
                  <tr><td>Design </td><td>{{ project.a_design_b|date:"m/d/y" }} - {{ project.a_design_e|date:"m/d/y" }}</td><td>{{ project.p_design_b|date:"m/d/y" }} - {{ project.p_design_e|date:"m/d/y" }}</td> </tr>
                  <tr><td>Develop</td><td>{{ project.a_dev_b|date:"m/d/y" }} - {{ project.a_dev_e|date:"m/d/y" }}</td><td>{{ project.p_dev_b|date:"m/d/y" }} - {{ project.p_dev_e|date:"m/d/y" }}</td> </tr>
                  <tr><td>UAT </td><td>   {{ project.a_uat_b|date:"m/d/y" }} - {{ project.a_uat_e|date:"m/d/y" }}</td><td>{{ project.p_uat_b|date:"m/d/y" }} - {{ project.p_uat_e|date:"m/d/y" }}</td> </tr>
                  <tr><td>Launch, Close</td><td> {{ project.a_launch|date:"m/d/y" }} , {{ project.a_close|date:"m/d/y" }} </td><td>{{ project.p_launch|date:"m/d/y" }} , {{ project.p_close|date:"m/d/y" }}</td></tr>
                </tbody></table>
              <!-- </div> -->
          </div>
        </div>  
      </div><!--2nd-->

      
      <div class="col-4 mt-2">

        <div class="card w-100 card-main">
          <div class="card-body">
            <h5 class="card-title">Timeline</h5>
            <div class="row ms-3 mt-3 media">
                  <!-- https://stackoverflow.com/questions/15300314/django-template-using-set-all -->
                  <!-- https://mdbootstrap.com/docs/standard/extended/timeline/ -->
                  <ul class="timeline-with-icons">
                  {% for r in reports %}
                    <li class="timeline-item mb-2">
                      <span class="timeline-icon fs-4">
                        {%   if r.status_o|slice:'0:1' == '1' %}<i class="text-success bi-check-circle-fill"></i>
                        {% elif r.status_o|slice:'0:1' == '2' %}<i class="text-warning bi-exclamation-circle"></i>
                        {% elif r.status_o|slice:'0:1' == '3' %}<i class="text-danger  bi-exclamation-circle-fill"></i>
                        {% elif r.status_o|slice:'0:1' == '9' %}<i class="text-primary fas bi-circle-fill"></i>
                        {% else %}<i class="text-secondary  bi-dash-circle-dotted"></i>
                        {% endif %}
                      </span>
                      <p>  <span class="badge rounded text-center my-badge-font 
                        {%   if r.status_t|slice:'0:1' == '1' %} text-success 
                        {% elif r.status_t|slice:'0:1' == '2' %} text-warning
                        {% elif r.status_t|slice:'0:1' == '3' %} text-danger  
                        {% elif r.status_t|slice:'0:1' == '9' %} text-primary
                        {% else %} text-light text-dark
                        {% endif %}" style="width: 3.5rem;">Schedule</span>
                        <span class="badge rounded text-center my-badge-font 
                        {%   if r.status_s|slice:'0:1' == '1' %} text-success 
                        {% elif r.status_s|slice:'0:1' == '2' %} text-warning
                        {% elif r.status_s|slice:'0:1' == '3' %} text-danger  
                        {% elif r.status_s|slice:'0:1' == '9' %} text-primary
                        {% else %} text-light text-dark
                        {% endif %}" style="width: 3.5rem;">Scope</span>
                        <span class="badge rounded text-center  my-badge-font 
                        {%   if r.status_b|slice:'0:1' == '1' %} text-success 
                        {% elif r.status_b|slice:'0:1' == '2' %} text-warning
                        {% elif r.status_b|slice:'0:1' == '3' %} text-danger  
                        {% elif r.status_b|slice:'0:1' == '9' %} text-primary
                        {% else %} text-light text-dark  
                        {% endif %}" style="width: 3.5rem;">Budget</span>  
                    <span class="">{{ r.progress }}%</span>
                    <span class="small  fw-light text-black-50"><a target="_blank" href="{% url 'report_detail' r.id %}">{{ r.created_at }}</a></span></p>
                      </li>
                  {% endfor %}
                  </ul>

            </div>
          </div>
        </div>  
      </div><!--3rd col-->

    <!-- </div>grid -->
  <!-- </div> row2 -->

  <!-- <div class="col-4 mt-2"> -->

  <!-- <div class="row"> -->

  <!-- timeline -->
  <!-- https://www.bootdey.com/snippets/view/bs4-Horizontal-timeline#preview -->
  <!-- https://freefrontend.com/bootstrap-timelines/ -->
    <!-- <div class="col-12 mt-3" style="padding-right:0; margin-right:0;">
      <div class="card w-100 card-time">
        <div class="card-body">
          <div clas="container">
          <h5 class="mb-0">Planned Schedule</h5>
          <div class="cd-horizontal-timeline loaded" style="margin-top:-24px;">
              <div class="timeline timelinepatch">
                  <div class="events-wrapper">
                      <div class="events" style="width: 100%; min-width: 800px;">
                          <ol id="disp_list"></ol>
                          <span class="filling-line" aria-hidden="true"></span>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div> -->

</div>

{% endblock %}

{% block script_body %} 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  var tItems = [
    {text: "Ideation", dateStr: "{{ project.p_ideation }}"}
    , {text: "Planning Start", dateStr: "{{ project.p_plan_b }}"}
    , {text: "Kick-Off", dateStr: "{{ project.kickoff }}"}
    , {text: "Design Start", dateStr: "{{ project.p_design_b }}"}
    , {text: "UAT Start", dateStr: "{{ project.p_uat_b }}"}
    , {text: "Launching", dateStr: "{{ project.p_launch }}"}
    , {text: "Closing", dateStr: "{{ project.p_closing }}"}
  ]; 
  // merge date
  var tLen = tItems.length;
  for(var i = 0; i < tLen; i++) {
    if (tItems[i].dateStr === '') continue;
    for(var j = i + 1; j < tLen; j++) {
      if (tItems[i].dateStr === tItems[j].dateStr) {
        tItems[i].text += ", " + tItems[j].text;
        tItems[j].dateStr = '';        
      } else {
        break;
      }
    }
  }

  // console.log(tItems);
  var tDateBegin = Date.parse("3000-01-01");
  var tDateEnd = Date.parse("1900-01-01");
  tItems.forEach((pItem)=>{ 
    pItem.date = Date.parse(pItem.dateStr) + 17 * 3600 * 1000;    // GMT -0700
    if (pItem.date) {
      tDateBegin = Math.min(tDateBegin, pItem.date); 
      tDateEnd = Math.max(tDateEnd, pItem.date); 
    }
  });
  var tDelta = tDateEnd - tDateBegin;
  tDateBegin -= tDelta * 0.10;
  tDateEnd += tDelta * 0.10;
  tDelta *= (1 + 0.20);
  var tDateTmp = new Date();
  var tCurrentDate = new Date(tDateTmp.getFullYear(), tDateTmp.getMonth(), tDateTmp.getDate());
  var tProgress = Math.min(1.0 * (tCurrentDate - tDateBegin) / tDelta, 1); 
  var mMonths = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

  $(document).ready(function(){
    var tFlag = true;
    var tFlagCurrentDate = false;
    var tCurrentYear = "";    
    var getDateStr = (pDate) => {
      var tDate = new Date(pDate);
      var tDateStr = mMonths[tDate.getMonth()] + " " + tDate.getDate();
      if (tCurrentYear !== tDate.getFullYear()) {
        tCurrentYear = tDate.getFullYear();
        tDateStr += ", " + tCurrentYear;
      }
      return tDateStr;
    };
    var getISODateStr = (pDate) => {
      return new Date(pDate).toISOString().split("T")[0];
    };
    var addListItem = (pPos, pText, pClass, pDateStr, pFlag) => {
      $('#disp_list').append( '<li><a href="#" class="' + pClass + '" data-date="' + pDateStr + '" style="left: ' + pPos + '%;"><span class="' + ((pFlag) ? "timeline-item-up" : "timeline-item-down") + '">' + pText + '</span></a></li>' );
    }

    tItems.forEach((pItem)=>{ 
      if (pItem.date) {
        var tLeft = 100.0 * (pItem.date - tDateBegin) / tDelta;
        var tDateStr = getDateStr(pItem.date);
        var tContentStr = (pItem.text + "<br>" + tDateStr);
        var tClass = "text-small";        
        if (tCurrentDate > pItem.date) {
          tClass += " older-event";
        } 
        else if (tCurrentDate === pItem.date) {
          tClass += " selected";
          tFlagCurrentDate = true;
        }
        else {
          if (!tFlagCurrentDate) {
            addListItem((tProgress*100), getDateStr(tCurrentDate), "text-small selected", null, tFlag);
            tFlagCurrentDate = true;
            tFlag = !tFlag;
          }
        }
        addListItem(tLeft, tContentStr, tClass, getISODateStr(pItem.date), tFlag);
        tFlag = !tFlag;
      }
    });

    $('.filling-line').css({transform: "scaleX(" + tProgress + ")"});
    // console.log(tDateBegin, tDateEnd, tProgress, tItems);
  })  
</script>

<!-- highcharts -->
<script>
function convertDate(pYYYYMMDD) {
    // if (typeof pYYYYMMDD !== undefined)    //None...
    //     return new Date()
    let tData = pYYYYMMDD.split("-");
    return Date.UTC(Number.parseInt(tData[0]), Number.parseInt(tData[1]) - 1, Number.parseInt(tData[2]));
    //Date.UTC(2014, 11, 25)
}

var today = new Date(),
    day = 1000 * 60 * 60 * 24,
    each = Highcharts.each,
    reduce = Highcharts.reduce,
    btnShowDialog = document.getElementById('btnShowDialog'),
    btnRemoveTask = document.getElementById('btnRemoveSelected'),
    btnAddTask = document.getElementById('btnAddTask'),
    btnCancelAddTask = document.getElementById('btnCancelAddTask'),
    addTaskDialog = document.getElementById('addTaskDialog'),
    inputName = document.getElementById('inputName'),
    selectDepartment = document.getElementById('selectDepartment'),
    selectDependency = document.getElementById('selectDependency'),
    chkMilestone = document.getElementById('chkMilestone'),
    isAddingTask = false;

// Set to 00:00:00:000 today
today.setUTCHours(0);
today.setUTCMinutes(0);
today.setUTCSeconds(0);
today.setUTCMilliseconds(0);
today = today.getTime();


// Update disabled status of the remove button, depending on whether or not we
// have any selected points.
function updateRemoveButtonStatus() {
    var chart = this.series.chart;
    // Run in a timeout to allow the select to update
    setTimeout(function () {
        btnRemoveTask.disabled = !chart.getSelectedPoints().length ||
            isAddingTask;
    }, 10);
}


// Create the chart
var chart = Highcharts.ganttChart('gantt_chart', {

    chart: {
        spacingLeft: 1
    },

    plotOptions: {
        series: {
            animation: false, // Do not animate dependency connectors
            dragDrop: {
                draggableX: true,
                draggableY: true,
                dragMinY: 0,
                dragMaxY: 2,
                dragPrecisionX: day / 3 // Snap to eight hours
            },
            dataLabels: {
                enabled: true,
                format: '{point.name}',
                style: {
                    cursor: 'default',
                    pointerEvents: 'none'
                }
            },
            allowPointSelect: true,
            point: {
                events: {
                    select: updateRemoveButtonStatus,
                    unselect: updateRemoveButtonStatus,
                    remove: updateRemoveButtonStatus
                }
            }
        },
    },

    yAxis: {
        type: 'category',
        categories: ['Actual', 'Plan'],
        min: 0,
        max: 1
    },

    xAxis: [{
        tickInterval: 1000 * 60 * 60 * 24 * 30, // Month
        labels: {
            format: '{value:%b}',
            style: {
                fontSize: '8px'
            }
        },
        // min: Date.UTC(2022, 01, 01),
        // max: Date.UTC(2022, 12, 31),
        currentDateIndicator: true
    }, {
        tickInterval: 1000 * 60 * 60 * 24 * 365, // Year
        labels: {
            format: '{value:%Y}',
            style: {
                fontSize: '10px'
            }
        },
        linkedTo: 0
    }],

    credits: {
                enabled: false
    },

    tooltip: {
        xDateFormat: '%a %b %d'
    },

    series: [{
        name: '{{ project.title }}',
        data: [{
          start: convertDate('{{ project.a_plan_b }}'),
            name: 'Planning',
            milestone: true,
            y: 0,
        }, {
          start: convertDate('{{ project.a_kickoff }}'),
            name: 'Kick Off',
            milestone: true,
            y: 0
        }, {          
          start: convertDate('{{ project.a_design_b }}'),
            end: convertDate('{{ project.a_design_e }}'),
            name: 'Design',
            y: 0
        }, {
          start: convertDate('{{ project.a_dev_b }}'),
            end: convertDate('{{ project.a_dev_e }}'),
            name: 'Develop',
            y: 0
        }, {
          start: convertDate('{{ project.a_uat_b }}'),
            end: convertDate('{{ project.a_uat_e }}'),
            name: 'UAT',
            y: 0
        }, {
          start: convertDate('{{ project.a_launch }}'),
            name: 'Launch',
            milestone: true,
            y: 0
        }, {  
          start: convertDate('{{ project.a_close }}'),
            name: 'Close',
            milestone: true,
            y: 0
        }, {
            start: convertDate('{{ project.p_plan_b }}'),
            name: 'Plan start',
            milestone: true,
            y: 1,
        }, {
          start: convertDate('{{ project.p_kickoff }}'),
            name: 'Kick Off',
            milestone: true,
            y: 1
        }, {          
          start: convertDate('{{ project.p_design_b }}'),
            end: convertDate('{{ project.p_design_e }}'),
            name: 'Design',
            y: 1
        }, {
          start: convertDate('{{ project.p_dev_b }}'),
            end: convertDate('{{ project.p_dev_e }}'),
            name: 'Develop',
            y: 1
        }, {
          start: convertDate('{{ project.p_uat_b }}'),
            end: convertDate('{{ project.p_uat_e }}'),
            name: 'UAT',
            y: 1
        }, {
          start: convertDate('{{ project.p_launch }}'),
            name: 'Launch',
            milestone: true,
            y: 1
        }, {  
          start: convertDate('{{ project.p_close }}'),
            name: 'Close',
            milestone: true,
            y: 1
        }, {  
        }]
    }]
});


/* Add button handlers for add/remove tasks */


</script>

{% endblock %}

