{% extends "base_wide.html" %}

{% block child_css %}
<!-- <script src="https://code.highcharts.com/highcharts.js"></script> -->
<script src="https://code.highcharts.com/gantt/highcharts-gantt.js"></script>
<script src="https://code.highcharts.com/gantt/modules/exporting.js"></script>
<script src="https://code.highcharts.com/gantt/modules/accessibility.js"></script>
<!-- <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script> -->
<!-- <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div id="container">
    <!-- filter area -->
    <div style="display: flex; justify-content: space-between;">
        <div>
            <h3>Projects</h3>
        </div>
        <div id="chart_filter_ctrl" style="height: 2rem; display: flex;">
            <label>Max Display Item:</label>
            <input type="number" min="1" max="200" id="input_max_item" style="width: 100px; text-align: end; margin: 0 3px;"></input>
            <button onclick="applyMaxItem()" id="btn_set_max_item" class="btn btn-sm btn-secondary">Apply</button>
            <button onclick="toggleFilter()" id="btn_toggle_filter" class="btn btn-sm btn-link"></button>
        </div>
    </div>
    <div id="chart_fiter" class="row p-3">
        {% for filterItem in filterItems %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <label  class="form-group label" for='sel_{{ filterItem.qId }}'>{{ filterItem.text }}</label>        
            <select class="form-select"  id='sel_{{ filterItem.qId }}' onchange="updateData()">
                <option value=''>ALL</option>
                {% for pItem in filterItem.items %}
                <option value="{{ pItem.id }}">{{ pItem.name }}</option>
                {% endfor %}
            </select>
        </div>
        {% endfor %}
    </div>
    <!-- chart area -->
    <div id="chart_area"></div>
</div>
<!-- <div id="content_root" class="container-fluid mt-1"></div>   -->
<!-- container-float margin top 3 -->
{% endblock content %}

{% block child_js_above_files %} 
<script>
    var tChartData = [];
    var tMaxItem = 200;

    document.getElementById("input_max_item").addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
            event.preventDefault();
            document.getElementById("btn_set_max_item").click();
        }
    });

    $('#input_max_item').val(tMaxItem);
    function applyMaxItem() {
        var tInputVal = $('#input_max_item').val();
        tMaxItem = tInputVal;
        if (tInputVal < 1) tMaxItem = 1;
        else if (tInputVal > 200) tMaxItem = 200;
        if (tInputVal !== tMaxItem) {
            $('#input_max_item').val(tMaxItem);
        }
        updateChart();
    }
    
    var tShowFilter = false;
    function toggleFilter() {
        tShowFilter = !tShowFilter;
        $('#btn_toggle_filter').text( tShowFilter ? 'Hide Filter' : 'Show Filter');
        if (tShowFilter) {
            $('#chart_fiter').show();
        } else {
            $('#chart_fiter').hide();
        }
    }
    toggleFilter();

    // set preselected values
    {% for filterItem in filterItems %}
        $('#sel_{{filterItem.qId}}').val("{{ filterItem.selected }}");
    {% endfor %}
    
    function convertDate(pYYYYMMDD) {
        let tData = pYYYYMMDD.split("-");
        return Date.UTC(Number.parseInt(tData[0]), Number.parseInt(tData[1]) - 1, Number.parseInt(tData[2]));
    }

    var tDefaultOptions = {
        // title: {
        //     text: 'Projects'
        // },

        xAxis: {
            currentDateIndicator: true,
        },

        yAxis: {
            type: 'category',
            scrollbar: {
                enabled: true,
                showFull: false
            },
            max: 24,
            staticScale: 20,
            uniqueNames: true,
            grid: {
                enabled: true,
                borderColor: 'rgba(0,0,0,0.3)',
                borderWidth: 1,
                columns: [
                    {
                        title: {
                            text: 'CBU'
                        },
                        labels: {
                            format: '{point.CBU}'
                        }
                    },
                    {
                        title: {
                            text: 'Project'
                        },
                        labels: {
                            format: '{point.name}'
                        }
                    }
                ]
            }
        },

        navigator: {
            enabled: true,
            liveRedraw: true,
            series: {
                type: 'gantt',
                pointPlacement: 0.5,
                pointPadding: 0.25,
                accessibility: {
                    enabled: false
                }
            },
            yAxis: {
                min: 0,
                max: 3,
                reversed: true,
                categories: []
            }
        },

        scrollbar: {
            enabled: true
        },

        rangeSelector: {
            enabled: true,
            selected: 0
        },

        accessibility: {
            point: {
                descriptionFormatter: function (point) {
                    var completedValue = point.completed ?
                            point.completed.amount || point.completed : null,
                        completed = completedValue ?
                            ' Task ' + Math.round(completedValue * 1000) / 10 + '% completed.' :
                            '';
                    return Highcharts.format(
                        '{point.yCategory}.{completed} Start {point.x:%Y-%m-%d}, end {point.x2:%Y-%m-%d}.',
                        { point, completed }
                    );
                }
            },
            series: {
                descriptionFormatter: function (series) {
                    return series.name;
                }
            }
        },

        lang: {
            accessibility: {
                axis: {
                    xAxisDescriptionPlural: 'The chart has a two-part X axis showing time in both week numbers and days.',
                    yAxisDescriptionPlural: 'The chart has one Y axis showing task categories.'
                }
            }
        },

        series: []
    };

    function getParams() {
        var tParams = {};
        {% for filterItem in filterItems %}
            var tmp = $('#sel_{{filterItem.qId}}').val();
            if (tmp != '') tParams['{{filterItem.qId}}'] = tmp;
        {% endfor %}
        return tParams;
    }

    function updateChart() {
        var tList = [];
        // var tList = res.map((pItem) => { return {start: convertDate(pItem.p_plan_b), end: convertDate(pItem.p_close), completed: pItem.progress / 100, name: pItem.title}; });
        var tMinTime = Date.now(), tMaxTime = Date.now();
        var tCounter = 0;
        tChartData.forEach((pItem, pIdx) => {
            if (tCounter++ < tMaxItem) {
                var tStart = convertDate(pItem.p_plan_b);
                var tEnd = convertDate(pItem.p_close);
                tMinTime = Math.min(tMinTime, new Date(tStart).getTime());
                tMaxTime = Math.max(tMaxTime, new Date(tEnd).getTime());
                tList.push({start: tStart, end: tEnd, completed: (pItem.progress / 100), name: pItem.title, CBU: pItem.CBU_str, y: pIdx});
            }
        });

        var tChartOptions = Object.assign({}, tDefaultOptions, {series: [{ name: '', data: tList }]});
        tChartOptions.yAxis.max = Math.min(25, Math.min(tCounter, tMaxItem)) - 1;

        var tChart = Highcharts.ganttChart('chart_area', tChartOptions);
        tChart.xAxis[0].setExtremes(tMinTime, tMaxTime);
        // if (tCounter >= tMaxItem) {
            // alert("Too many projects - limit to display 200 items, please use filter.")
        // }
    }

    function updateData() {
        var tUrl = '/api/1.0/projects';
        var tParams = getParams();        
        if (Object.keys(tParams).length > 0) {
            tUrl += '?' + new URLSearchParams(tParams).toString(); 
        }
        fetch(tUrl)
        .then(response => response.json())
        .then((res)=>{
            console.log(res);
            res.sort((pA, pB) => { return pA.id - pB.id; });
            tChartData = res;
            updateChart();
        });
    }

    function setDefaultYear() {
        var tParams = getParams();
        if (Object.keys(tParams).length === 0) {
            var tDate = new Date();
            $('#sel_year').val(tDate.getFullYear());
        }
    }

    setDefaultYear();
    updateData();
</script>
{% endblock %}
