{% extends "theme/root.html" %}
{% load static %}
{% load thumbnail %}

{% block head_script %}
<style>
  .card-main { min-height: 400px; }
  .card-obj  { min-height: 250px; }
  .card-sub  { min-height: 150px; }
  .card-time { height: 150px; }

  .text-small { font-size: 0.75rem !important; }
  .timelinepatch { height: 150px !important; }
  .timeline-item-up { position: absolute; bottom: 10px; width: 200px; margin-left: -100px; }
  .timeline-item-down { position: absolute; top: 20px; width: 200px; margin-left: -100px; }
</style>  

<link href="{% static 'css/timeline.css' %}" rel="stylesheet">
<!-- https://getbootstrap.com/docs/5.0/examples/masonry/ -->
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>

{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row m-3">
    <div class="col d-flex align-items-start">Project code : <b>{{ project.pjcode }}</b>
      <span class="ms-3"> <a href="/admin/psm/projectplan/{{ project.id }}"><i class="bi bi-pencil"></i></a></span>
    </div>
    <div class="col d-flex justify-content-end">Project year : <b>{{ project.year }}</b></div>
  </div>
  
  <div class="row m-2 ">
    <!-- border-top border-bottom -->
    <div class="col-8"><div class="card w-100"><div class="card-body">
      <h5>Title: <b>{{ project.title }}</b></h5>
    </div></div></div>
    <div class="col-4"><div class="card w-100"><div class="card-body">
      <h5>Owner: <b>{{ project.pm.name }}</b></h5>
    </div></div></div>

  </div><!--row-->

  <div class="row m-2" data-masonry='{"percentPosition": true }' >
    <!-- <div class="grid" style="--bs-columns: 3;"> -->

      <div class="col-4 ">
        <div class="card w-100 card-main">
          <div class="card-body">
            <h5 class="card-title">As-Is</h5>
            <!-- <div class="row ms-2 media"> -->
                
                  {% if project.img_asis %}
                  {% thumbnail project.img_asis "x300" crop="center" as asis %}
                  <img src="{{ asis.url }}" width="{ asis.width }" height="{ asis.height }" alt="asis" class="mb-3">
                  {% endthumbnail %} 
                  </div><div class="row">
                  {% endif %}
                <p class="card-text">{{ project.asis }}</p>
            <!-- </div> -->
          </div>
        </div>
      </div><!--1st-->

      <div class="col-4">
        <div class="card w-100 card-main">
          <div class="card-body">
            <h5 class="card-title">To-be</h5>
            <!-- <div class="row ms-2 media"> -->
              {% if project.img_tobe %}
              {% thumbnail project.img_tobe "x300" crop="center" as tobe %}
              <img src="{{ tobe.url }}" width="{ tobe.width }" height="{ tobe.height }" alt="tobe" class="mb-3">
              {% endthumbnail %} 
              </div><div class="row">
            {% endif %}
              <p class="card-text">{{ project.tobe }}</p>
            <!-- </div> -->
          </div>
        </div>  
      </div><!--2nd-->
      
      <div class="col-4">
        <div class="card w-100 border-0"><div class="container" style="padding-left:12px; padding-right:12px;">
          <div class="row border-0">
            <div class="card w-100 card-obj mb-0">
              <div class="card-body">
                <h5 class="card-title">Objectives</h5><p class="card-text">{{ project.objective }}</p>
              </div>
            </div>
          </div><!--row-->

          <div class="row mt-0">
            <div class="card w-100 card-sub mb-0">
              <div class="card-body">
                <h5 class="card-title">Considerations</h5><p class="card-text">{{ project.consider }}</p>
              </div>
            </div>
          </div><!--row-->
        </div></div>
      </div><!--3rd col-->

    <!-- </div>grid -->
  </div><!--row-->


  <div class="row m-2" data-masonry='{"percentPosition": true }' >

    <div class="col-4">
      <div class="card w-100 card-sub">
        <div class="card-body">
          <h5 class="card-title">Qualitative Benefit</h5><p class="card-text">{{ project.quali }}</p>
        </div>
      </div>
    </div>
    
    <div class="col-4">
      <div class="card w-100 card-sub">
        <div class="card-body">
          <h5 class="card-title">Quantitative Benefit</h5><p class="card-text">{{ project.quant }}</p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card w-100 card-sub">
        <div class="card-body">
          <h5 class="card-title">Budget/Resource</h5>
          <div class="card-text">
            <div class="grid">
              <div class="row">
              <div class="col-3">Budget</div><div class="col-9">{{ project.quant }}</div>
              </div><div class="row">
                <div class="col-3">Resource</div><div class="col-9">{{ project.resource }}</div>
              </div>
            </grid>  
          </div>
        </div>
      </div>
    </div>

  </div>  

  <!-- timeline -->
  <!-- https://www.bootdey.com/snippets/view/bs4-Horizontal-timeline#preview -->
  <!-- https://freefrontend.com/bootstrap-timelines/ -->
    <div class="row mt-2 mb-2" style="margin-right:0; padding-right:0;" >
      <div class="col-12  mt-3 mb-4" style="padding-right:0;" >
      <div class="card w-100 card-time">
        <div class="card-body">
          <!-- <div clas="container"> -->
          <h5 class="mb-0">Schedule</h5>
          <div class="cd-horizontal-timeline loaded" style="margin-top:-24px;">
              <div class="timeline timelinepatch">
                  <div class="events-wrapper">
                      <div class="events" style="width: 100%; min-width: 800px;">
                          <ol id="disp_list"></ol>
                          <span class="filling-line" aria-hidden="true"></span>
                      </div>
                  </div>
              </div>
          </div>
        <!-- </div> -->
        </div>
      </div>
    </div> <!--col12-->
    </div>

    {% if actual.id %}
      <a href="/project/{{ actual.id }}"><i class="bi bi-kanban"></i> Link to actual project</a>
    {% endif %}

</div>

{% endblock %}

{% block script_body %} 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  var tItems = [
    {text: "Ideation", dateStr: "{{ project.p_ideation }}"}
    , {text: "Planning Start", dateStr: "{{ project.p_plan_b }}"}
    , {text: "Kick-Off", dateStr: "{{ project.kickoff }}"}
    , {text: "Design Start", dateStr: "{{ project.p_design_b }}"}
    , {text: "UAT Start", dateStr: "{{ project.p_uat_b }}"}
    , {text: "Launching", dateStr: "{{ project.p_launch }}"}
    , {text: "Closing", dateStr: "{{ project.p_closing }}"}
  ]; 
  // merge date
  var tLen = tItems.length;
  for(var i = 0; i < tLen; i++) {
    if (tItems[i].dateStr === '') continue;
    for(var j = i + 1; j < tLen; j++) {
      if (tItems[i].dateStr === tItems[j].dateStr) {
        tItems[i].text += ", " + tItems[j].text;
        tItems[j].dateStr = '';        
      } else {
        break;
      }
    }
  }

  // console.log(tItems);
  var tDateBegin = Date.parse("3000-01-01");
  var tDateEnd = Date.parse("1900-01-01");
  tItems.forEach((pItem)=>{ 
    pItem.date = Date.parse(pItem.dateStr) + 17 * 3600 * 1000;    // GMT -0700
    if (pItem.date) {
      tDateBegin = Math.min(tDateBegin, pItem.date); 
      tDateEnd = Math.max(tDateEnd, pItem.date); 
    }
  });
  var tDelta = tDateEnd - tDateBegin;
  tDateBegin -= tDelta * 0.10;
  tDateEnd += tDelta * 0.10;
  tDelta *= (1 + 0.20);
  var tDateTmp = new Date();
  var tCurrentDate = new Date(tDateTmp.getFullYear(), tDateTmp.getMonth(), tDateTmp.getDate());
  var tProgress = Math.min(1.0 * (tCurrentDate - tDateBegin) / tDelta, 1); 
  var mMonths = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

  $(document).ready(function(){
    var tFlag = true;
    var tFlagCurrentDate = false;
    var tCurrentYear = "";    
    var getDateStr = (pDate) => {
      var tDate = new Date(pDate);
      var tDateStr = mMonths[tDate.getMonth()] + " " + tDate.getDate();
      if (tCurrentYear !== tDate.getFullYear()) {
        tCurrentYear = tDate.getFullYear();
        tDateStr += ", " + tCurrentYear;
      }
      return tDateStr;
    };
    var getISODateStr = (pDate) => {
      return new Date(pDate).toISOString().split("T")[0];
    };
    var addListItem = (pPos, pText, pClass, pDateStr, pFlag) => {
      $('#disp_list').append( '<li><a href="#" class="' + pClass + '" data-date="' + pDateStr + '" style="left: ' + pPos + '%;"><span class="' + ((pFlag) ? "timeline-item-up" : "timeline-item-down") + '">' + pText + '</span></a></li>' );
    }

    tItems.forEach((pItem)=>{ 
      if (pItem.date) {
        var tLeft = 100.0 * (pItem.date - tDateBegin) / tDelta;
        var tDateStr = getDateStr(pItem.date);
        var tContentStr = (pItem.text + "<br>" + tDateStr);
        var tClass = "text-small";        
        if (tCurrentDate > pItem.date) {
          tClass += " older-event";
        } 
        else if (tCurrentDate === pItem.date) {
          tClass += " selected";
          tFlagCurrentDate = true;
        }
        else {
          if (!tFlagCurrentDate) {
            addListItem((tProgress*100), getDateStr(tCurrentDate), "text-small selected", null, tFlag);
            tFlagCurrentDate = true;
            tFlag = !tFlag;
          }
        }
        addListItem(tLeft, tContentStr, tClass, getISODateStr(pItem.date), tFlag);
        tFlag = !tFlag;
      }
    });

    $('.filling-line').css({transform: "scaleX(" + tProgress + ")"});
    // console.log(tDateBegin, tDateEnd, tProgress, tItems);
  })  
</script>
<!-- Javascript is here -->

{% endblock %}

