{% extends "base_full.html" %}
{% block child_css %}
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/frappe-gantt/0.6.1/frappe-gantt.css" integrity="sha512-57KPd8WI3U+HC1LxsxWPL2NKbW82g0BH+0PuktNNSgY1E50mnIc0F0cmWxdnvrWx09l8+PU2Kj+Vz33I+0WApw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/frappe-gantt/0.6.1/frappe-gantt.min.js" integrity="sha512-HyGTvFEibBWxuZkDsE2wmy0VQ0JRirYgGieHp0pUmmwyrcFkAbn55kZrSXzCgKga04SIti5jZQVjbTSzFpzMlg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
<link rel="stylesheet" href="/static/libs/frappe-gantt/frappe-gantt.css" />
<script src="/static/libs/frappe-gantt/frappe-gantt.min.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid mt-1">  <!-- container-float margin top 3 -->
    <div class="row">
        <div class="col-2">
            <h4 class="font-weight-bold"><button class="btn btn-primary" type="button"  data-bs-toggle="collapse"  href="#collapseFilter" 
                role="button" aria-expanded="false" aria-controls="collapseFilter">PROJECT GANTT</button></h4>                        
          </div>
          <!-- div class="col-4 text-nowrap float-end" >
        <p class="text-end m-0 small"></p>
        </div-->
        <div class="col-10">
            <div class="collapse show float-end" id="collapseFilter">
                <form class="row row-cols-lg-auto g-3 align-items-center form-control-sm">
                        <label><!-- Local filters:--></label>
                        {% for filterItem in filterItems %}
                        <div class="col-auto">
                            <label  class="form-group label" for='sel_{{ filterItem.qId }}'>{{ filterItem.text }}</label>        
                            <select class="form-select"  id='sel_{{ filterItem.qId }}' onchange="updateData()">
                                <option value=''>ALL</option>
                                {% for pItem in filterItem.items %}
                                <option value={{ pItem.id }}>{{ pItem.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% endfor %}
                
                </form>                    
            </div>
        </div>
    </div>
    <div class="row">

    {% if project_chart %}

        <div class='container d-flex  align-items-center justify-content-center'>
            <div class="card" >
                <svg id="gantt" ></svg>
                </div>
                <div class="mx-auto mt-3 btn-group" role="group">
                    <button type="button" class="btn btn-sm btn-light">Day</button>
                    <button type="button" class="btn btn-sm btn-light active">Week</button>
                    <button type="button" class="btn btn-sm btn-light">Month</button>
                    <button type="button" class="btn btn-sm btn-light">Custom</button>
                </div>
            </div>
        </div>

    {% else %}
        <p>No records found!!! :(</p>
    {% endif %}

    </div>		

{% endblock content %}


{% block child_js_above_files %} 

<script type="text/javascript">


    var tasks = [
        {% for item in project_chart %}
        {
            id: '{{item.id}}',
            name: '{{item.title}}',
            start: '{{item.p_pre_plan_b}}',
            end: '{{item.p_close}}',
            progress: {{item.progress}},
            dependencies: '',
            custom_class: 'bar-milestone' // optional
        },
        {% endfor %}
    ]
    // var tasks ={{project_chart|safe}};
    
    var gantt = new Gantt("#gantt", tasks, {
        header_height: 50,
        column_width: 32,
        step: 720,
        // view_modes: ['Day', 'Week', 'Month', 'Year'],
        bar_height: 20,
        bar_corner_radius: 3,
        arrow_curve: 5,
        padding: 18,
        // view_mode: 'Month',
        view_mode: 'Custom',
        date_format: 'YYYY-MM-DD',
        custom_popup_html: null            
    });
    // https://github.com/frappe/gantt/issues/223
    // gantt.change_view_mode('Month')

    var btnGroups = document.getElementsByClassName('btn-group');
    if (btnGroups) {
        btnGroups[0].addEventListener("click", function(e) {
            e.preventDefault();
            var target = e.target || e.srcElement, text = target.textContent || target.innerText;
            for (let i = 0; i < this.children.length; i++) {
                this.children[i].classList.remove('active');
            }
            target.classList.add('active');
            
            if (text === 'Custom') {
                gantt.options.column_width = 32;
                gantt.options.step = 720;
            }
            gantt.change_view_mode(text);
        }, false);
    }

</script>

<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script>
    // set preselected values
    {% for filterItem in filterItems %}
        $('#sel_{{filterItem.qId}}').val("{{ filterItem.selected }}");
    {% endfor %}

    function updateData() {
        var q = "";
        var qs = [];
        var tmp = '';

        {% for filterItem in filterItems %}
            tmp = $('#sel_{{filterItem.qId}}').val();
            if (tmp != '') qs.push('{{filterItem.qId}}=' + tmp);
        {% endfor %}

        if (qs.length > 0) {
            q = "?" + qs.join("&");
        }            
        window.location.href = '/projectchart/' + q;
    }
</script>    

{% endblock %}
