{% extends "theme/root.html" %}
{% load static %}
{% load psm_filters %}

{% block head_script %}
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css">
    <link href="/static/theme/assets/vendor/datatables/datatables.min.css" rel="stylesheet">
    <link href="{% static 'css/tablelist.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="container-fluid mt-1">  <!-- container-float margin top 3 -->
        <!-- <h5>PROJECT DEMAND</h5>                         -->

        <div class="row">
            <!-- Filter  div class="input-group"> <span class="input-group-addon">Filter</span>
                <input id="filter" type="text" class="form-control" placeholder="Type here...">
            </div -->
            <!-- https://examples.bootstrap-table.com/#extensions/export.html#view-source -->
            <div id="toolbar" >
                <h5>PROJECT DEMAND</h5>
                <!-- <select class="form-control">
                  <option value="">Export Basic</option>
                  <option value="all">Export All</option>
                  <option value="selected">Export Selected</option>
                </select> -->
            </div>
            <table data-toggle="table" data-pagination="true" data-page-size="25" data-page-list="[10, 25, 50, 100, all]"
            data-search="true" data-filter-control="true" data-show-search-clear-button="false" data-show-refresh="false"
            data-toolbar="#toolbar" data-show-toggle="true" data-show-columns="true"
            id="table" class="col table table-striped table-hover table-bordered table-sm small">
                <thead class="table-primary">
                <tr>
                    <th data-sortable="true" data-field="version" class="text-center" >Version</th>
                    <th data-sortable="true" data-field="id" class="text-center" >Id</th>
                    <th data-sortable="true" data-field="CBU" class="text-center" >CBU</th>
                    <th data-sortable="true" data-field="program">Program</th>
                    <th data-sortable="true" data-field="project">Project-Name</th>
                    <th data-sortable="true" data-field="pm">HAEA PM</th>
                    <th data-sortable="true" data-field="dept">HAEA Dept</th>
                    <th data-sortable="true" data-field="kickoff">P-Kickoff</th>
                    <th data-sortable="true" data-field="launch">P-Launch</th>
                    <th data-sortable="true" data-field="est_cost">Budget</th>
                    <th data-sortable="false" >E</th>
                </tr>
                </thead>
                <tbody>
                    {% for p in project_list %}
                <tr> <!-- https://getbootstrap.com/docs/4.1/components/badge/ https://icons.getbootstrap.com/ <i class="bi-class-name"></i> -->
                     <!-- p.status_t|slice:"0:1" -->
                    <td class="text-center">{{ p.version }}</td>
                    <td class="text-center" scope="row"><a href="{% url 'project_plan_detail' p.id %}">{{ p.pjcode }}</a></td>
                    <td class="text-center">{{ p.CBU_str }}</td>
                    <td class="text-left">{{ p.program }}</td>
                    <td class="text-left">{{ p.title }}</td>
                    <td>{{ p.pm.name }}</td>
                    <td>{{ p.dept }}</td>
                    <td class="text-center">{{ p.p_kickoff }}</td>
                    <td class="text-center">{{ p.p_launch }}</td>
                    <td class="text-end">{{ p.est_cost|currency:"k" }}</td>
                    <td class="text-center"><a href="/admin/psm/projectplan/{{ p.id }}"><i class="bi bi-pencil"></i></a></td>
                </tr>						
                {% endfor %}	
                </tbody>
            </table>
            <div class="row">
                <div class="col" ><div class="float-start inline">Pagination from server: 
                    {# .... **Now the pagination section** .... #}
                    {% include "includes/pagination.html" %}
                </div></div>

                <!-- <div class="col float-end"><p class="text-end">total: <div id="totalamt"></div></p>
                </div> -->
            </div>

            </div>

        {# .... **More content, footer, etc.** .... #}

		</div>		
	</div>

{% endblock content %}


{% block script_body %}
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>    
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>
<!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script-->
{% endblock %}


<!-- nav filter script -->
{% block script_nav %} 
    {% if filterItems %}
    <script>
        // set preselected values
        {% for filterItem in filterItems %}$('#sel_{{filterItem.qId}}').val("{{ filterItem.selected }}");
        {% endfor %}

        function updateData() {
            var q = "";
            var qs = [];
            var tmp = '';

            {% for filterItem in filterItems %} tmp = $('#sel_{{filterItem.qId}}').val(); if (tmp != '') qs.push('{{filterItem.qId}}=' + tmp);
            {% endfor %}

            if (qs.length > 0) {
                q = "?" + qs.join("&");
            }            
            window.location.href = window.location.pathname + q;
        }
    </script>    
    {% endif %}
{% endblock %}
