{% extends "theme/root.html" %}
{% load static %}

{% block head_script %}
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css">
    <!-- <link href="/static/theme/assets/vendor/datatables/datatables.min.css" rel="stylesheet"> -->
    <link href="{% static 'css/tablelist.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="container">
    <p>This is for testing ...</p>
    <!-- chart area -->
    <div id="chart-json" data-url="{% url 'project_chart_3_json' %}" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <!-- chart area -->  
        
</div>
{% endblock content %}

{% block script_body %}
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>

    <!-- Chartjs libraries -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script>
        //second method using Json
        arguments = window.location.href.split("?")[1]
        if (arguments) {
            callurl = $("#chart-json").attr("data-url") + "?" + arguments 
        } else {
            callurl = $("#chart-json").attr("data-url")  
        }
        console.log(callurl)
        $.ajax({
        url: callurl,  //$("#chart-json").attr("data-url") +  arguments, 
        dataType: 'json',
        success: function (data) {
            console.log('calling chart...')
            Highcharts.chart("chart-json", data);
        }
        });

    // first method - return data series
    // Highcharts.chart('chart_area', {{ chart|safe }});
    // Highcharts.chart('container', {
    //       chart: {
    //           type: 'column'
    //       },
    //       title: {
    //           text: 'Completion by Dept'
    //       },
    //       xAxis: {
    //           categories: {{ categories|safe }}
    //       },
    //       series: [{
    //           name: 'Completed',
    //           data: {{ completed }},
    //           color: 'green'
    //       }, {
    //           name: 'Not completed',
    //           data: {{ not_completed }},
    //           color: 'red'
    //       }]
    //   });
    </script>
{% endblock %}


<!-- nav filter script -->
{% block script_nav %} 
<script>
    // set preselected values
    {% for filterItem in filterItems %}
        $('#sel_{{filterItem.qId}}').val("{{ filterItem.selected }}");
    {% endfor %}

    function updateData() {
        var q = "";
        var qs = [];
        var tmp = '';

        {% for filterItem in filterItems %}
            tmp = $('#sel_{{filterItem.qId}}').val();
            if (tmp != '') qs.push('{{filterItem.qId}}=' + tmp);
        {% endfor %}

        if (qs.length > 0) {
            q = "?" + qs.join("&");
        }
        window.location.href = window.location.pathname + q;
    }
</script>
{% endblock %}
