{% extends "base_wide.html" %}

{% block child_css %}
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/frappe-gantt/0.6.1/frappe-gantt.css" integrity="sha512-57KPd8WI3U+HC1LxsxWPL2NKbW82g0BH+0PuktNNSgY1E50mnIc0F0cmWxdnvrWx09l8+PU2Kj+Vz33I+0WApw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/frappe-gantt/0.6.1/frappe-gantt.min.js" integrity="sha512-HyGTvFEibBWxuZkDsE2wmy0VQ0JRirYgGieHp0pUmmwyrcFkAbn55kZrSXzCgKga04SIti5jZQVjbTSzFpzMlg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
<!-- https://github.com/frappe/gantt -->
<link rel="stylesheet" href="/static/libs/frappe-gantt/frappe-gantt.css" />
<script src="/static/libs/frappe-gantt/frappe-gantt.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
.cc-red g rect { fill: red !important; }

</script>
{% endblock %}

{% block content %}
<div id="container">
    <!-- filter area -->
    <div style="display: flex; justify-content: space-between;">
        <div>
            <h3>Project Gantt Chart</h3>
        </div>
        <div id="chart_filter_ctrl" style="height: 2rem; display: flex;">
            <label>Max Display Item:</label>
            <input type="number" min="1" max="200" id="input_max_item" style="width: 100px; text-align: end; margin: 0 3px;"></input>
            <button onclick="applyMaxItem()" id="btn_set_max_item" class="btn btn-sm btn-secondary">Apply</button>
            <button onclick="toggleFilter()" id="btn_toggle_filter" class="btn btn-sm btn-link"></button>
        </div>
    </div>
    <div id="chart_fiter" class="row p-3">
        {% for filterItem in filterItems %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <label  class="form-group label" for='sel_{{ filterItem.qId }}'>{{ filterItem.text }}</label>        
            <select class="form-select"  id='sel_{{ filterItem.qId }}' onchange="updateData()">
                <option value=''>ALL</option>
                {% for pItem in filterItem.items %}
                <option value="{{ pItem.id }}">{{ pItem.name }}</option>
                {% endfor %}
            </select>
        </div>
        {% endfor %}
    </div>
    <!-- chart area -->
    <div class="row">
        {% if project_list %}
            <div class='container-fluid align-items-center justify-content-center'>
                <div style="width: 100%; display: flex; justify-content: space-between;">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-sm btn-light">Day</button>
                        <button type="button" class="btn btn-sm btn-light active">Week</button>
                        <button type="button" class="btn btn-sm btn-light">Month</button>
                        <button type="button" class="btn btn-sm btn-light">Custom</button>
                    </div>
                    <div style="margin-right: 5px;">
                        <button id="btn_reset" type="button" class="btn btn-sm btn-primary" onclick="resetChange()">Reset</button>
                        <button id="btn_save" type="button" class="btn btn-sm btn-danger" onclick="saveChange()">Save</button>
                    </div>
                </div>
                <div class="card" >
                    <svg id="gantt" ></svg>
                </div>
            </div>
        {% else %}
            <p>No records found!!! :(</p>
        {% endif %}
    </div>
</div>

{% endblock content %}

{% block child_js_above_files %} 
<script>
    var tChart = null;

    var tChartData = [];
    var tMaxItem = 200;

    var tModifiedItemMap = {};

    document.getElementById("input_max_item").addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
            event.preventDefault();
            document.getElementById("btn_set_max_item").click();
        }
    });

    $('#input_max_item').val(tMaxItem);
    function applyMaxItem() {
        var tInputVal = $('#input_max_item').val();
        tMaxItem = tInputVal;
        if (tInputVal < 1) tMaxItem = 1;
        else if (tInputVal > 200) tMaxItem = 200;
        if (tInputVal !== tMaxItem) {
            $('#input_max_item').val(tMaxItem);
        }
        updateChart();
    }
    
    var tShowFilter = false;
    function toggleFilter() {
        tShowFilter = !tShowFilter;
        $('#btn_toggle_filter').text( tShowFilter ? 'Hide Filter' : 'Show Filter');
        if (tShowFilter) {
            $('#chart_fiter').show();
        } else {
            $('#chart_fiter').hide();
        }
    }
    toggleFilter();

    // set preselected values
    {% for filterItem in filterItems %}
        $('#sel_{{filterItem.qId}}').val("{{ filterItem.selected }}");
    {% endfor %}
    
    function convertDate(pYYYYMMDD) {
        let tData = pYYYYMMDD.split("-");
        return Date.UTC(Number.parseInt(tData[0]), Number.parseInt(tData[1]) - 1, Number.parseInt(tData[2]));
    }

    function getParams() {
        var tParams = {};
        {% for filterItem in filterItems %}
            var tmp = $('#sel_{{filterItem.qId}}').val();
            if (tmp != '') tParams['{{filterItem.qId}}'] = tmp;
        {% endfor %}
        return tParams;
    }    

    function getDateStr(pDate) {
        return pDate.toISOString().split("T")[0];
    }

    var tDefaultOptions = {
        header_height: 50,
        column_width: 40,
        step: 720,
        // view_modes: ['Day', 'Week', 'Month', 'Year'],
        bar_height: 20,
        bar_corner_radius: 3,
        arrow_curve: 5,
        padding: 18,
        // view_mode: 'Month',
        view_mode: 'Custom',
        date_format: 'YYYY-MM-DD',
        custom_popup_html: null,
        on_click: function (task) {
            console.log(task);
        },
        on_date_change: function(task, start, end) {
            console.log(task, start, end);
            $('#btn_reset').removeAttr('disabled');
            $('#btn_save').removeAttr('disabled');
            tModifiedItemMap[task.id] = {id: task.id, p_close: getDateStr(task._end), p_plan_b: getDateStr(task._start)};
        },
        on_progress_change: function(task, progress) {
            console.log(task, progress);
        },
        on_view_change: function(mode) {
            console.log(mode);
        }        
    };

    function updateChart() {
        $('#btn_reset').attr('disabled','disabled');
        $('#btn_save').attr('disabled','disabled');

        $("#gantt").empty();
        if (tChartData.length > 0) {
            var tList = [];
            var tCounter = 0;
            tChartData.forEach((pItem, i) => {
                // limit in SVG
                if (tCounter++ < tMaxItem) {
                    // phase split - TODO
                    // if (pItem.a_plan_e) {
                    //     plan_progress = 100
                    // } else {
                    //     if (pItem.a_plan_b) {
                    //         plan_progress = 50
                    //     } else {
                    //         plan_progress = 0
                    //     }
                    // }
                    // tList.push({id: String(pItem.id), row_id: i, name: '',  start:  pItem.p_plan_b,     end: pItem.p_plan_e,    progress: 0, });
                    // tList.push({id: String(pItem.id), row_id: i, name: '',  start:  pItem.p_design_b,   end: pItem.p_design_e,  progress: 0, });
                    // tList.push({id: String(pItem.id), row_id: i, name: '',  start:  pItem.p_dev_b,      end: pItem.p_dev_e,     progress: 0, });
                    // tList.push({id: String(pItem.id), row_id: i, name: '',  start:  pItem.p_uat_b,      end: pItem.p_uat_e,     progress: 0, });
                    // tList.push({id: String(pItem.id), row_id: i, name: '',  start:  pItem.p_launch,     end: pItem.close,       progress: 0, });
                    
                    // // total plan
                    // l_start = (pItem.a_plan_b) ? pItem.a_plan_b : pItem.p_plan_b 
                    // l_end   = (pItem.a_close) ?  pItem.a_close  : pItem.p_close
                    // tList.push({id: String(pItem.id), row_id: i, name: pItem.title, start: l_start, end: l_end, progress: pItem.progress, custom_class: 'cc-red'});
                    
                    tList.push({id: String(pItem.id), name: pItem.title, start: pItem.p_plan_b, end: pItem.p_close, progress: pItem.progress, custom_class: 'bar-milestone'});
                }
            });
            if (tList.length > 0) {
                tChart = new Gantt("#gantt", tList, tDefaultOptions);
            }
        }
    }

    function updateData() {    
        var tUrl = '/api/1.0/projects';
        var tParams = getParams();        
        if (Object.keys(tParams).length > 0) {
            tUrl += '?' + new URLSearchParams(tParams).toString(); 
        }
        fetch(tUrl)
        .then(response => response.json())
        .then((res)=>{
            // console.log(res);
            res.sort((pA, pB) => { return pA.id - pB.id; });
            tChartData = res;
            updateChart();
        });
    }

    function setDefaultYear() {
        var tParams = getParams();
        if (Object.keys(tParams).length === 0) {
            var tDate = new Date();
            $('#sel_year').val(tDate.getFullYear());
        }
    }

    setDefaultYear();
    updateData();

    (function() {
        var btnGroups = document.getElementsByClassName('btn-group');
        if (btnGroups) {
            btnGroups[0].addEventListener("click", function(e) {
                e.preventDefault();
                var target = e.target || e.srcElement, text = target.textContent || target.innerText;
                for (let i = 0; i < this.children.length; i++) {
                    this.children[i].classList.remove('active');
                }
                target.classList.add('active');

                if (tChart) {
                    if (text === 'Custom') {
                        tChart.options.column_width = 32;
                        tChart.options.step = 720;
                    }
                    tChart.change_view_mode(text);
                }            
            }, false);
        }
    })();

    function resetChange() {
        tModifiedItemMap = {};
        updateChart();        
    }

    function saveChange() {
        // console.log(Object.values(tModifiedItemMap));
        var tUrl = '/api/1.0/projects/update/period/';
        // var tParams = getParams();        
        // if (Object.keys(tParams).length > 0) {
        //     tUrl += '?' + new URLSearchParams(tParams).toString(); 
        // }
        fetch(tUrl, { header: {'Content-Type': 'application/json'}, method: "POST", body: JSON.stringify( Object.values(tModifiedItemMap) ) })
        .then(response => response.json())
        .then((res)=>{
            // console.log(res);
            tModifiedItemMap = {};
            updateData();
        });
    }
</script>

{% endblock %}
