{% extends "theme/root.html" %}
{% load static %}

{% block head_script %}
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css">
    <!-- <link href="/static/theme/assets/vendor/datatables/datatables.min.css" rel="stylesheet"> -->
    <link href="{% static 'css/tablelist.css' %}" rel="stylesheet">

    <style>
      .infoBlock {
        border-radius: 0.2rem;
        margin-bottom: 0.2rem;
        height: 5.75rem;
        padding: 1rem;
        background: #e0e0ef;
      }
      .infoBlockTitle {
        text-align: center;
        font-size: 1.2rem;
      }
      .infoBlockValue {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: #389;
      }
    </style>
{% endblock %}

{% block content %}
	<div class="container">

        <h5>Dashboard - under construction</h5>
        <!-- <p>please navigate top/left hamberger menu to run charts/table report</p>
        <form id="filterForm">
            <label for="year">Choose a year:</label>
            <select name="year" id="year"></select>
            <input type="submit" value="Load" name="_load">
        </form> -->

        <div class="row layout-top">
          <div class="col-2">
            <div class="infoBlock">
              <div class="infoBlockTitle">Total</div>
              <div class="infoBlockValue" id="v_project_total">0</div>
            </div>
            <div class="infoBlock">
              <div class="infoBlockTitle">Cancel, C/F</div>
              <div class="infoBlockValue" id="v_project_cancel">0</div>
            </div>
            <div class="infoBlock">
              <div class="infoBlockTitle">Complete</div>
              <div class="infoBlockValue" id="v_project_completed">0</div>
            </div>
            <div class="infoBlock">
              <div class="infoBlockTitle">Open</div>
              <div class="infoBlockValue" id="v_project_open">0</div>
            </div>
          </div>
          <div class="col-3">
            <div id="chart_1" style="height: 23.8rem; margin: 0 auto"></div>
          </div>
          <div class="col-4">
            <div id="chart_2" style="height: 23.8rem; margin: 0 auto"></div>
          </div>
          <div class="col-3">
            <div id="chart_3" style="height: 23.8rem; margin: 0 auto"></div>
          </div>
        </div>

        <table data-toggle="table" data-pagination="true" data-page-size="25" data-page-list="[10, 25, 50, 100, all]"
          data-search="true" data-filter-control="true" data-show-search-clear-button="false" data-show-refresh="false"
          data-toolbar="#toolbar" data-show-toggle="true" data-show-columns="true"
          id="table" class="col table table-striped table-hover table-bordered table-sm small">
          <thead class="table-primary">
            <tr>
              <th data-sortable="true" scope="col">HAEA Dept.</th>
              <th data-sortable="true" scope="col">Progress</th>
              <th data-sortable="true" scope="col">Budget</th>
              <th data-sortable="true" scope="col">Total Project</th>
              <th data-sortable="true" scope="col">Incomplete</th>
              <th data-sortable="true" scope="col">Plan</th>
              <th data-sortable="true" scope="col">Actual</th>
              <th data-sortable="true" scope="col">To-do</th>
              <th data-sortable="true" scope="col">Complete</th>
              <th data-sortable="true" class="text-center" scope="col">CBU</th>
              <th data-sortable="true" class="text-center" scope="col">Project</th>
              <th data-sortable="true" scope="col">Project-Name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="col">123</td>
              <td scope="col">123</td>
              <td scope="col">123</td>
              <td scope="col">123</td>
            </tr>
            <tr>
              <td scope="col">125</td>
              <td scope="col">125</td>
              <td scope="col">125</td>
              <td scope="col">125</td>
            </tr>
            <tr>
              <td scope="col">125</td>
              <td scope="col">125</td>
              <td scope="col">125</td>
              <td scope="col">125</td>
            </tr>
            <tr>
              <td scope="col">125</td>
              <td scope="col">125</td>
              <td scope="col">125</td>
              <td scope="col">125</td>
            </tr>
            <tr>
              <td scope="col">125</td>
              <td scope="col">125</td>
              <td scope="col">125</td>
              <td scope="col">125</td>
            </tr>
          </tbody>
        </table>

        <!-- 2nd row -->
        <!-- <div class="row">
            <div class="col-6">
              <div id="chart-json1" data-url="/project/json/get_project_chart/{% now 'Y' %}/CBU__name/total,completed/" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
              <div class="col-6">
                <div id="chart-json2" data-url="/project/json/get_project_chart/{% now 'Y' %}/dept__name/total,completed/" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
              </div>
              <div class="col-6">
                <div id="chart-json3" data-url="/project/json/get_project_chart/{% now 'Y' %}/year/total,completed/" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
              </div>
              <div class="col-6">
                <div id="chart-json4" data-url="/project/json/get_project_chart/{% now 'Y' %}/year/total,completed/" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
              </div>
            </div>
		    </div>		 -->
	</div>

{% endblock content %}


<!-- Other script here -->
{% block script_body %}
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<!-- <script>
  $(document).ready(function() {
    $.ajax({
      url: "/project/year-options/",
      type: "GET",
      dataType: "json",
      success: (jsonResponse) => {
        // Load all the options
        jsonResponse.options.forEach(option => {
          $("#year").append(new Option(option, option));
        });
        // Load data for the first option
        loadAllCharts($("#year").children().first().val());
      },
      error: () => console.log("Failed to fetch chart filter options!")
    });
  });    
  // filter submit event --------------------------
  $("#filterForm").on("submit", (event) => {
    event.preventDefault();

    const year = $("#year").val();
    loadAllCharts(year)
  });

function loadChart(chart, endpoint) {
  args = window.location.href.split("?")[1]
  if (args) {
      endpoint = endpoint + args 
  }

  $.ajax({
    url: endpoint,
    type: "GET",
    dataType: "json",
    success: (jsonResponse) => {
      // Extract data from the response
      const title = jsonResponse.title;
      const labels = jsonResponse.data.labels;
      const datasets = jsonResponse.data.datasets;

      // Reset the current chart
      chart.data.datasets = [];
      chart.data.labels = [];

      // Load new data into the chart - FIXME
      // chart.options.title.text = title;
      // chart.options.title.display = true;
      chart.data.labels = labels;
      datasets.forEach(dataset => {
        chart.data.datasets.push(dataset);
      });
      chart.update();
    },
    error: () => console.log("Failed to fetch chart data from " + endpoint + "!")
  });
}

function loadAllCharts(year) {
  // loadChart(Completed_chart,    `/project/json/get_project_chart/${year}/year/total/`);
  // loadChart(Kickoff_chart,      `/project/json/get_project_chart/${year}/year/total/`);
  // loadChart(Launch_chart,       `/project/json/get_project_chart/${year}/year/total/`);
}


// initialization
  // let completeCtx = document.getElementById("Completed_chart").getContext("2d");
  // let Completed_chart = new Chart(completeCtx, {
  //   type: "bar",
  //   options: {
  //     responsive: true,
  //   }
  // });
  // let kickoffCtx = document.getElementById("Kickoff_chart").getContext("2d");
  // let Kickoff_chart = new Chart(kickoffCtx, {
  //   type: "bar",
  //   options: {
  //     responsive: true,
  //   }
  // });
  // let launchCtx = document.getElementById("Launch_chart").getContext("2d");
  // let Launch_chart = new Chart(launchCtx, {
  //   type: "bar",
  //   options: {
  //     responsive: true,
  //   }
  // });

  </script>

<script>
        //highcharts

        arguments = window.location.href.split("?")[1]
        if (arguments) {
            callurl = $("#chart-json1").attr("data-url") + "?" + arguments 
        } else {
            callurl = $("#chart-json1").attr("data-url")  
        }
        console.log(callurl)
        $.ajax({
            url: callurl,  //$("#chart-json").attr("data-url") +  arguments, 
            dataType: 'json',
            success: function (data) {
                Highcharts.chart("chart-json1", data);
            }
        });

        arguments = window.location.href.split("?")[1]
        if (arguments) {
            callurl = $("#chart-json2").attr("data-url") + "?" + arguments 
        } else {
            callurl = $("#chart-json2").attr("data-url")  
        }
        console.log(callurl)
        $.ajax({
            url: callurl,  //$("#chart-json").attr("data-url") +  arguments, 
            dataType: 'json',
            success: function (data) {
                Highcharts.chart("chart-json2", data);
            }
        });

</script> -->
<script>
    $(function() {
        // Create the chart
        chart = new Highcharts.Chart({
          credits: {
            enabled: false
          },
          chart: {
              renderTo: 'chart_1',
              type: 'pie',
              backgroundColor: 'transparent'
          },
          title: {
              text: 'Projects by State'
          },
          yAxis: {
              title: {
                  text: 'Total percent market share'
              }
          },
          plotOptions: {
              pie: {
                  shadow: false
              }
          },
          tooltip: {
              formatter: function() {
                  return '<b>'+ this.point.name +'</b>: '+ this.y +' %';
              }
          },
          series: [{
              name: 'Browsers',
              data: [["Firefox",6],["MSIE",4],["Chrome",7]],
              size: '90%',
              innerSize: '60%',
              showInLegend:true,
              dataLabels: {
                  enabled: false
              }
          }]
        });

        Highcharts.chart('chart_2', {
          credits: {
            enabled: false
          },
          chart: {
            type: 'column',
            backgroundColor: 'transparent'
          },
          title: {
            text: 'Project counts by CBU'
          },
          xAxis: {
            categories: ['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas']
          },
          yAxis: {
            min: 0,
            title: {
              text: 'Total fruit consumption'
            },
            stackLabels: {
              enabled: true,
              style: {
                fontWeight: 'bold',
                color: ( // theme
                  Highcharts.defaultOptions.title.style &&
                  Highcharts.defaultOptions.title.style.color
                ) || 'gray',
                textOutline: 'none'
              }
            }
          },
          legend: {
            // align: 'right',
            // x: -30,
            verticalAlign: 'top',
            // y: 25,
            // floating: false,
            // backgroundColor:
            //     Highcharts.defaultOptions.legend.backgroundColor || 'white',
            // borderColor: '#CCC',
            // borderWidth: 1,
            // shadow: false
          },
          tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
          },
          plotOptions: {
            column: {
              stacking: 'normal',
              dataLabels: {
                enabled: true
              }
            }
          },
          series: [{
              name: 'John',
              data: [5, 3, 4, 7, 2]
            }, {
              name: 'Jane',
              data: [2, 2, 3, 2, 1]
            }, {
              name: 'Joe',
              data: [3, 4, 4, 2, 5]
          }]
        });            



        new Highcharts.Chart({
          credits: {
            enabled: false
          },
          chart: {
              renderTo: 'chart_3',
              type: 'pie',
              backgroundColor: 'transparent'
          },
          title: {
              text: 'Projects by Phase'
          },
          yAxis: {
              title: {
                  text: 'Total percent market share'
              }
          },
          plotOptions: {
              pie: {
                  shadow: false,
                  dataLabels: {
              enabled: true,
              distance: -25,
              format: '<b>{point.name}</b><br>{point.percentage:.1f} %',
              style: {
                // format: '<b>{point.name}</b><br>{point.percentage:.1f} %',
                // format: '<b>{point.percentage:.1f} %</b>',
              //     fontWeight: 'bold',
              //     color: 'white'
                fontSize: '0.5rem'
              }
          },                    
              }
          },
          tooltip: {
              formatter: function() {
                  return '<b>'+ this.point.name +'</b>: '+ this.y +' %';
              }
          },
          series: [{
              name: 'Browsers',
              data: [["Firefox",6],["MSIE",4],["Chrome",7]],
              size: '90%',
              innerSize: '60%',
              // showInLegend: true,
              // dataLabels: {
                  // enabled: false
              // }
          }]
        });
    });      
</script>
{% endblock %}


{% block script_nav %} 
<!-- nav filter script -->
<script>
    // set preselected values
    {% for filterItem in filterItems %}
        $('#sel_{{filterItem.qId}}').val("{{ filterItem.selected }}");
    {% endfor %}

    function updateData() {
        var q = "";
        var qs = [];
        var tmp = '';

        {% for filterItem in filterItems %}
            tmp = $('#sel_{{filterItem.qId}}').val();
            if (tmp != '') qs.push('{{filterItem.qId}}=' + tmp);
        {% endfor %}

        if (qs.length > 0) {
            q = "?" + qs.join("&");
        }
        window.location.href = window.location.pathname + q;
    }
</script>
{% endblock %}
